
* {
  font-family:  -apple-system, system-ui,  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background-color: white;
  height: auto;
  width: auto;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 20px;
}

body, html  {

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgb(7, 181, 245), rgb(47, 58, 62));
  border-radius: 20px;
}

.login {


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
  width: 280px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0px, 0px, 10px  rgba(66, 66, 66, 0.952);
}

.translate {
  color: white;
  text-decoration-color: rgb(7, 181, 245);
  background-color: #24363d;
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0, 50, 50, 0;
  border-radius: none;

}



i#menu {
  color: black;
  text-align: left;
  font-size: 40px;
  padding: 5px;
  cursor: pointer;
}

i#menu:hover {
  background-color: rgb(7, 181, 245);
}

.button-1 {
  margin-bottom: 320px;
  margin-left: 10px;
  border-radius: 20px;
  image-rendering: auto;
}

.button-2 {
  margin-left: 320px;
  margin-bottom: 0px;
  border-radius: 20px;
}

.button-copy {
  cursor: pointer;
  padding: 2px;
  width: 40px;
  height: 40px;
  margin: 5px;
}


.button-submit {
  cursor: pointer;
  padding: 2px;
  width: 40px;
  height: 40px;
  margin: 5px;
}


.imagem {
  font-size: 2.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.imagem p {

  background-color: rgba(181, 240, 255, 0.412);
  border-radius: none;
}



.input-1 {
  width: 200px;
  height: 50px;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 10px;

}

.img {
  width: 500px;
  height: 500px;
}

.button-logout {

  display: flex;
  align-items: left;
  justify-content: left;
  padding: 10px;
  height: 55px;


  color: white;
  text-decoration: none;
  border-radius: 2px;
  margin-top: 20px;
}

.button-logout i {
  font-size: 30px;
  margin-right: 5px;
  background-color: #f44336; /* Cor do botão de logout */
}


.button-logout i:hover {
  background-color: #940f05; /* Cor do botão de logout */

}
