* {
  background-color: white;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
}

body {

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1697395017285-c4d1caeaff31?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNhY3BlfHx8fHx8MTcxMzQ4MjAxNQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
  border-radius: 20px;
}

.translate {
  text-decoration-color: #74ff73;
  background-color: #74ff73;
  height: 80px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0, 50, 50, 0;
  border-radius: none;


}

.button-1 {
  margin-bottom: 320px;
  margin-left: 0px;
  border-radius: 20px;
  image-rendering: auto;
}

.button-2 {
  margin-left: 320px;
  margin-bottom: 0px;
  border-radius: 20px;
}

.image {
  margin-left: 130px;
  margin-bottom: 200px;
  border-radius: 20px;
}

.input-1 {
  padding: 10px;

}

.img {
  width: 500px;
  height: 500px;
}
