<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid, espaco">
    <h1 class="traduzindo">Traduzindo palavras em Inclusão.</h1>
    <p class="comunicacao">A comunicação é um direito de todos</p>

    <p class="clicar-abaixo">Clique no botão abaixo para fazer o seu login</p>

    

    <div class="seta"></div>
    <button class="navbar-toggler, nodisplay" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse, espaco" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0, nobullets">


        <% if(user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login/logout">Sair</a>
          </li>
        <% } else {%>
          <li class="nav-item">
            <a class="nav-link-entrar" href="/login/index">Entrar</a>
          </li>
          <% }%>

      </ul>

    </div>
  </div>
</nav>
