<%- include('includes/head'); %>

<body>
  <main>

<%- include('includes/navbar'); %>


<div div class="container-home">
    <h2 class="translate-home">TRADUTOR</h2>

    <div class="digite-expressao"><p >Digite uma palavra ou expressão:</p></div>
      <form id="searchForm" class="input-group">
        
        <input type="text" class="input-home" id="input_text" name="input-text" placeholder="Exemplo: amar">
        <button class="btn-home" type="submit">&gt;</button>
    </form>




      <div class= "resultado" id= "result"></div>



      <div class="buttons-cards">
        <a href="/traduzir" class="card-traduzir">
          <p class="icon-traduzir">🔁</p>
          <h3 class="title-card">Traduzir</h3>
          <p class="descricao-card">Converta palavras em Libras de forma rápida e intuitiva.</p>
        </a>
        <a href="/cursos" class="card-aprender">
          <p class="icon-aprender">📖</p>
          <h3 class="title-card">Aprender</h3>
          <p class="descricao-card">Descubra novos sinais e amplie seu conhecimento em Libras.</p>
        </a>
        <a href="/incluir" class="card-incluir">
          <p class="icon-incluir">🤗</p>
          <h3 class="title-card">Incluir</h3>
          <p class="descricao-card">Facilite a comunicação e torne o diálogo mais acessível.</p>
        </a>
      </div>
      
      <script>
        document.getElementById('searchForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const inputText = document.getElementById('input_text').value;

            const response = await fetch('http://localhost:5000/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    'input_text': inputText
                }),
                mode:"cors"
            });

            const result = await response.json();
            const resultDiv = document.getElementById('result');
            resultDiv.innerHTML = '';

            if (result.error) {
                resultDiv.innerHTML = `<p>${result.error}</p>`;
            } else {
                resultDiv.innerHTML = `
                    <p>Expressão: ${result.expression}</p>
                    <div class="video-container">
                        <video controls autoplay>
                            <source src="${result.url}" type="video/mp4">
                            Seu navegador não suporta o elemento de vídeo.
                        </video>
                    </div>
                `;
            }
        });
    </script>
  </body>

