<!DOCTYPE html>
<html lang="pt-br">

<head>
  <base href="/home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Tradulibras</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<div>

    <h2 class="translate">TRADUTOR</h2>
    <div>

        <div>
            <button class="button-2"> <img alt="tab"><i class="fa-solid fa-gear"></i></button>

        </div>

        <div>

        </div>
          <i id="menu" class="material-icons">lista</i>
        </div>

    <div>
        <img alt="Imagem do tradutor" src="https://www.gratispng.com/png-3si0tx/" class="image">
    </div>

    <body>

        <input class="input-1" placeholder="Digite seu texto" id="texto">

        <button class="button-3">
            <img alt="microfone"><link class="img" href='https://unpkg.com/css.gg@2.0.0/icons/css/menu.css' rel='stylesheet'>

        </button>
        <button class="button-4">
            <img src="https://www.pngwing.com/en/search?q=copy" alt="copy">


        </button>
