<!DOCTYPE html>
<html lang="pt-br">

<head>
  <base href="/home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Tradulibras</title>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
  <main>
<div class="home">
    <h2 class="translate">TRADUTOR</h2>

    <div>

            <!-- Botão de Logout -->
            <a href="/login/logout" class="button-logout">
              <i class="material-icons">logout</i>
            </a>
          </div>


       <!-- Menu Hamburguer -->
       <button class="hamburger-menu" id="hamburgerMenu">
        <div></div>
        <div></div>
        <div></div>
      </button>

      <!-- Opções do Menu -->
      <div class="menu-options" id="menuOptions">
        <a href="#">Opção 1</a>
        <a href="#">Opção 2</a>
        <a href="#">Opção 3</a>
      </div>

      <!--<div class="videos">
        <% if (videoUrls && videoUrls.length > 0) { %>
          <% videoUrls.forEach(function(videoUrl) { %>
            <video controls>
              <source src="<%= videoUrl %>" type="video/mp4">
              Seu navegador não suporta o vídeo.
            </video>
          <% }) %>
        <% } else { %>
          <p>Nenhum vídeo correspondente encontrado.</p>
        <% } %>
      </div> -->

        <form action="/translate" method="POST">
          <input class="input-1" placeholder="Digite seu texto" name="text" id="texto" required>
          <input type="hidden" name="sourceLanguage" value="pt">
          <input type="hidden" name="targetLanguage" value="en">
          <button type="submit" class="button-submit">
            <i id="mic" class="material-icons">arrow_right_alt</i>
          </button>
          <button type="button" class="button-copy">
            <i id="copy" class="material-icons">content_copy</i>
          </button>
        </form>
      </div>
    </main>

    <script>
      document.getElementById('hamburgerMenu').addEventListener('click', function () {
        this.classList.toggle('active');
        document.getElementById('menuOptions').classList.toggle('show');
      });
    </script>
  </body>

