<!DOCTYPE html>
<html lang="pt-br">

<head>
  <base href="/home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Tradulibras</title>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
  <main>
<div class="home">
    <h2 class="translate">TRADUTOR</h2>

    <div>

        <div>

          <div>
            <!-- Botão de Logout -->
            <a href="/login/logout" class="button-logout">
              <i class="material-icons">logout</i>
            </a>
          </div>

        </div>
          <i id="menu" class="material-icons">lista</i>
        </div>

        <div class="imagem">
          <% if (translatedText) { %>
            <p><%= translatedText %></p>
          <% } else { %>
            <img src="public\imgs\avatar_teste2.png" alt="">
          <% } %>
        </div>

        <form action="/translate" method="POST">
          <input class="input-1" placeholder="Digite seu texto" name="text" id="texto" required>
          <input type="hidden" name="sourceLanguage" value="pt">
          <input type="hidden" name="targetLanguage" value="en">
          <button type="submit" class="button-submit">
            <i id="mic" class="material-icons">arrow_right_alt</i>
          </button>
          <button type="button" class="button-copy">
            <i id="copy" class="material-icons">content_copy</i>
          </button>
        </form>
      </div>
    </main>
  </body>

