<%- include('includes/head'); %>
    

<div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3, header">
          <div class="logo-boasvindas">
            <img src="/imgs/logo-escura.png" alt="Logo TraduLibras" class="img-fluid" />
          </div>
              <header class="text-center">
                <h1 class="boas-vindas">👋 Olá! Boas vindas!</h1>
              </header>

              <%- include('includes/messages') %>
        </div>

          <div class="home">
            <%- include('includes/nav'); %>
          </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
<%- include('includes/footer'); %>
