<%- include('includes/head'); %>
    

<div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3, header">
              <header class="text-center">TraduLibras</header>
              <p class="text-center lead, pespecial"> Página Principal</p>

              <%- include('includes/messages') %>
        </div>

          <div class="home">
            <%- include('includes/nav'); %>
          </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
<%- include('includes/footer'); %>
