<%- include('includes/head'); %>

<body>
  <div class="container">

    
      <div class="logo-boasvindas-login">
        <img src="/imgs/logo-escura.png" alt="Logo TraduLibras" class="img-fluid" />
      </div>
    
      <div >
        <div >
          <%- include('includes/messages'); %>

          <div class="titulo-entrar">
            <h4 class="entrar">Entrar</h4>

            <form action="/login/login" method="POST">
              <div class="form-group">
                <label class="diminutivo">Digite seu email</label>
                <br>
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>

              <div class="form-group">
                <label class="diminutivo">Digite sua senha</label>
                <br>
                <input type="password" class="form-control" name="password" placeholder="Senha" required>
              </div>

              

              <button type="submit" class="btn-btn-primary botaoacessar">Acessar</button>
            </form>

            <div class="linha"></div>
            <p class="tem-conta">Ainda não tem conta? </p>
            <a class="linkp-register" href="/register">Crie uma agora</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('includes/footer'); %>
