<%- include('includes/head') %>
<%- include('includes/navbar') %>
<div class="sugestoes-container">
  <div class="sugestoes-title">Glossário</div>

  <div class="scroll-area">
    <div id="glossario-container"></div>
  </div>

  <div class="sugestoes-image">
    <img src="https://cdn-icons-png.flaticon.com/512/6614/6614671.png" alt="Sugestões">
  </div>
</div>

<script src="/assets/js/glossario.js"></script>
<%- include('includes/footer') %>
