<%- include('includes/head') %>
<%- include('includes/navbar') %>

<style>
  .sugestoes-container {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .sugestoes-title {
    font-size: 2rem;
    text-align: center;
    color: #1e293b;
    margin-bottom: 20px;
    border-bottom: 2px solid #3b82f6;
    padding-bottom: 10px;
  }

  .scroll-area {
    max-height: 400px; /* ajuste conforme necessário */
    overflow-y: auto;
    padding-right: 10px;
  }

  .sugestoes-list {
    list-style: decimal inside;
    font-size: 18px;
    color: #0f172a;
    line-height: 1.8;
    padding-left: 10px;
  }

  .sugestoes-list li {
    margin-bottom: 10px;
  }

  .sugestoes-image {
    text-align: center;
    margin-top: 30px;
  }

  .sugestoes-image img {
    width: 200px;
  }

@media (max-width: 480px) {
  .sugestoes-container {
    margin: 20px 10px 10px 80px;
    padding: 20px 15px;
    border-radius: 10px;
  }

  .sugestoes-title {
    font-size: 1.5rem;
    padding-bottom: 8px;
  }

  .scroll-area {
    max-height: 300px;
    padding-right: 5px;
  }

  .sugestoes-list {
    font-size: 16px;
    line-height: 1.6;
    padding-left: 5px;
  }

  .sugestoes-image img {
    width: 120px;
  }
}


</style>

<div class="sugestoes-container">
  <div class="sugestoes-title">Sugestões</div>

  <div class="scroll-area">
    <ol class="sugestoes-list">
<li>Abacate</li>
<li>Abacaxi</li>
<li>Abafar</li>
<li>Abaixo assinado</li>
<li>Abaixo</li>
<li>Abajur</li>
<li>Abanar</li>
<li>Abandonar</li>
<li>Abastado</li>
<li>Abdicar</li>
<li>Abdomen</li>
<li>Abelha</li>
<li>Abençoar</li>
<li>Abençoando</li>
<li>Aberto</li>
<li>Abertura</li>
<li>Abisma</li>
<li>Abobrinha</li>
<li>Abocanhar</li>
<li>Abolição</li>
<li>Abonar</li>
<li>Abóbora</li>
<li>Abono</li>
<li>Aborrecer</li>
<li>Aborrecido</li>
<li>Abortar</li>
<li>Abotoar</li>
<li>Abracadabra</li>
<li>Abraçar</li>
<li>Abraço</li>
<li>Abreviar</li>
<li>Abrigar</li>
<li>abrigo</li>
<li>abril</li>
<li>absolver</li>
<li>absorver</li>
<li>abster</li>
<li>absurdo</li>
<li>abusado</li>
<li>abusar</li>
<li>acabar</li>
<li>acai</li>
<li>acalentar</li>
<li>acalmar</li>
<li>acampamento</li>
<li>acampar</li>
<li>acanhado</li>
<li>acariciar</li>
<li>acasalar</li>
<li>acatar</li>
<li>acautelar</li>
<li>aceitar</li>
<li>acelerar</li>
<li>acenar</li>
<li>acender</li>
<li>acento</li>
<li>acercar</li>
<li>aceso</li>
<li>achar</li>
<li>acidente</li>
<li>acido</li>
<li>acima</li>
<li>aclive</li>
<li>acne</li>
<li>acoitar</li>
<li>acoite</li>
<li>acomodado</li>
<li>acomodar</li>
<li>acompanhado</li>
<li>acompanhar</li>
<li>aconchegar</li>
<li>aconselhar</li>
<li>acontecer</li>
<li>acordar</li>
<li>acordeao</li>
<li>acordo</li>
<li>acorrentar</li>
<li>acostumado</li>
<li>acougue</li>
<li>acre</li>
<li>acreditar</li>
<li>acrescentar</li>
<li>acrobata</li>
<li>acuado</li>
<li>acuar</li>
<li>acumular</li>
<li>acupuntura</li>
<li>acusar</li>
<li>adernar</li>
<li>adesivo</li>
<li>adiantado</li>
<li>adiar</li>
<li>adivinhar</li>
<li>adjetivo</li>
<li>adjunto</li>
<li>administracao</li>
<li>administrar</li>
<li>admirado</li>
<li>admirar</li>
<li>admissao</li>
<li>adocante</li>
<li>adocar</li>
<li>adoecer</li>
<li>adolescente</li>
<li>adorar</li>
<li>adormecer</li>
<li>adotar</li>
<li>adotivo</li>
<li>adular</li>
<li>adulterio</li>
<li>adventista</li>
<li>advertir</li>
<li>advogado</li>
<li>aerobarco</li>
<li>aeromoca</li>
<li>aeronautica</li>
<li>aeroporto</li>
<li>aerossol</li>
<li>aerostato</li>
<li>afastado</li>
<li>afastar</li>
<li>afeicao</li>
<li>afeto</li>
<li>afiado</li>
<li>afilhado</li>
<li>afinidade</li>
<li>afivelar</li>
<li>afixar</li>
<li>aflito</li>
<li>afocinhar</li>
<li>afogar</li>
<li>africa</li>
<li>afrouxar</li>
<li>afundar</li>
<li>agachar</li>
<li>agarrar</li>
<li>agasalhar</li>
<li>agendar</li>
<li>agitado</li>
<li>agora</li>
<li>agosto</li>
<li>agradar</li>
<li>agradecer</li>
<li>agredir</li>
<li>agressivo</li>
<li>agriao</li>
<li>agricultura</li>
<li>agrupar</li>
<li>agua</li>
<li>aguardar</li>
<li>aguardente</li>
<li>aguentar</li>
<li>aguia</li>
<li>agulha</li>
<li>aids</li>
<li>ainda</li>
<li>aipim</li>
<li>ajoelhar</li>
<li>ajudar</li>
<li>alaranjado</li>
<li>alarme</li>
<li>alastrar</li>
<li>album</li>
<li>alcancar</li>
<li>alcapao</li>
<li>alce</li>
<li>alcool</li>
<li>alegre</li>
<li>alegria</li>
<li>aleijar</li>
<li>aleluia</li>
<li>alem</li>
<li>alemanha</li>
<li>alemao</li>
<li>alergia</li>
<li>alerta</li>
<li>alertar</li>
<li>alface</li>
<li>alfaiate</li>
<li>alfinete</li>
<li>algemas</li>
<li>algodao</li>
<li>alguem</li>
<li>algum</li>
<li>alho</li>
<li>ali</li>
<li>aliado</li>
<li>alianca</li>
<li>alicate</li>
<li>alimento</li>
<li>aliquota</li>
<li>alisar</li>
<li>alistar</li>
<li>aliviado</li>
<li>aliviar</li>
<li>alma</li>
<li>almejar</li>
<li>almocar</li>
<li>almofada</li>
<li>alojamento</li>
<li>altar</li>
<li>alternar</li>
<li>altitude</li>
<li>alto-falante</li>
<li>alto</li>
<li>altura</li>
<li>alugar</li>
<li>aluguel</li>
<li>aluminio</li>
<li>aluno</li>
<li>alvo</li>
<li>amamentar</li>
<li>amansar</li>
<li>amante</li>
<li>amarelinha</li>
<li>amarelo</li>
<li>amargo</li>
<li>amarrar</li>
<li>amassar</li>
<li>amazona</li>
<li>amazonas</li>
<li>ambicao</li>
<li>ambidestro</li>
<li>ambos</li>
<li>ameacar</li>
<li>amem</li>
<li>amendoim</li>
<li>america</li>
<li>america_central</li>
<li>america_norte</li>
<li>america_sul</li>
<li>americano</li>
<li>amigavel</li>
<li>amigo</li>
<li>amizade</li>
<li>amolar</li>
<li>amontoar</li>
<li>amor</li>
<li>amora</li>
<li>amortecedor</li>
<li>ampliar</li>
<li>amputar</li>
<li>analfabeto</li>
<li>analisar</li>
<li>ancestrais</li>
<li>anciao</li>
<li>ancorar</li>
<li>andaime</li>
<li>andar</li>
<li>anel</li>
<li>angulo</li>
<li>angustiado</li>
<li>angustiar</li>
<li>animais</li>
<li>animo</li>
<li>aniquilar</li>
<li>aniversario</li>
<li>anjo</li>
<li>ano</li>
<li>ano_novo</li>
<li>ano_passado</li>
<li>ano_que_vem</li>
<li>anotar</li>
<li>ansiedade</li>
<li>antagonico</li>
<li>antebraco</li>
<li>anteceder</li>
<li>antecipar</li>
<li>antena_parabolica</li>
<li>anteontem</li>
<li>antepassados</li>
<li>antes</li>
<li>anticoncepcional</li>
<li>antigo</li>
<li>antilhas</li>
<li>anual</li>
<li>anulado</li>
<li>anular</li>
<li>anus</li>
<li>anzol</li>
<li>apagado</li>
<li>apagador</li>
<li>apagar</li>
<li>apaixonado</li>
<li>apaixonar</li>
<li>apalpar</li>
<li>apanhar</li>
<li>aparafusar</li>
<li>aparelho_auditivo</li>
<li>apartamento</li>
<li>apavorado</li>
<li>apavorar</li>
<li>apegar</li>
<li>apelar</li>
<li>apelidar</li>
<li>apenas</li>
<li>apertado</li>
<li>apertar</li>
<li>apice</li>
<li>apitar</li>
<li>apito</li>
<li>aplaudir</li>
<li>aplicar</li>
<li>apoderar</li>
<li>apodrecer</li>
<li>apogeu</li>
<li>apoiar</li>
<li>apontador</li>
<li>apontar</li>
<li>apos</li>
<li>aposentado</li>
<li>aposentadoria</li>
<li>aposentar</li>
<li>apostar</li>
<li>apostolo</li>
<li>apreciar</li>
<li>apreender</li>
<li>aprender</li>
<li>apressar</li>
<li>aprisionar</li>
<li>aprofundar</li>
<li>aprovado</li>
<li>aproximar</li>
<li>apto</li>
<li>aquario</li>
<li>aquecedor</li>
<li>aquecer</li>
<li>aquele</li>
<li>aqui</li>
<li>ar</li>
<li>arabia</li>
<li>aracaju</li>
<li>arame</li>
<li>aranha</li>
<li>arara</li>
<li>arbitrar</li>
<li>arbusto</li>
<li>arco-iris</li>
<li>arco</li>
<li>arder</li>
<li>arduo</li>
<li>area</li>
<li>areia</li>
<li>argentina</li>
<li>argentino</li>
<li>aries</li>
<li>arma</li>
<li>armario</li>
<li>aroma</li>
<li>arqueiro</li>
<li>arquejar</li>
<li>arquiteto</li>
<li>arquitetura</li>
<li>arquivar</li>
<li>arquivo</li>
<li>arraia</li>
<li>arrancar</li>
<li>arrastar</li>
<li>arrebentar</li>
<li>arrematar</li>
<li>arremessar</li>
<li>arrepender</li>
<li>arrependimento</li>
<li>arrepiar</li>
<li>arrogante</li>
<li>arrolar</li>
<li>arrombar</li>
<li>arrotar</li>
<li>arroz</li>
<li>arrumado</li>
<li>arrumar</li>
<li>artico</li>
<li>arvoredo</li>
<li>as</li>
<li>asa</li>
<li>ascender</li>
<li>asfalto</li>
<li>asia</li>
<li>asma</li>
<li>aspa</li>
<li>aspereza</li>
<li>aspero</li>
<li>aspirador-de-po</li>
<li>aspirar</li>
<li>asqueroso</li>
<li>assado</li>
<li>assaltar</li>
<li>assar</li>
<li>assassinar</li>
<li>assembleia</li>
<li>assim</li>
<li>assimilar</li>
<li>assinar</li>
<li>assinatura</li>
<li>assistente</li>
<li>assistir</li>
<li>assoalho</li>
<li>assoar</li>
<li>assobiar</li>
<li>assobio</li>
<li>associacao</li>
<li>associar</li>
<li>assombracao</li>
<li>assumir</li>
<li>assunto</li>
<li>assustar</li>
<li>astronomia</li>
<li>astuto</li>
<li>atacar</li>
<li>atalho</li>
<li>atarraxar</li>
<li>ate logo</li>
<li>ate</li>
<li>atear</li>
<li>atencao</li>
<li>atestado</li>
<li>atestar</li>
<li>ateu</li>
<li>atingir</li>
<li>atirar</li>
<li>atletismo</li>
<li>atonito</li>
<li>ator</li>
<li>atracao</li>
<li>atrair</li>
<li>atrapalhar</li>
<li>atras</li>
<li>atrasar</li>
<li>atravessar</li>
<li>atriz</li>
<li>atropelar</li>
<li>atual</li>
<li>atuar</li>
<li>audicao</li>
<li>audiometria</li>
<li>auditorio</li>
<li>aula</li>
<li>aumentar</li>
<li>australia</li>
<li>australiano</li>
<li>austria</li>
<li>austriaco</li>
<li>autenticar</li>
<li>automatico</li>
<li>automobilismo</li>
<li>automovel</li>
<li>autor</li>
<li>autoridade</li>
<li>autorizar</li>
<li>auxiliar</li>
<li>avaliar</li>
<li>avancada</li>
<li>avancar</li>
<li>avareza</li>
<li>ave</li>
<li>avenida</li>
<li>avental</li>
<li>aversao</li>
<li>avestruz</li>
<li>aviao</li>
<li>avisar</li>
<li>axila</li>
<li>azar</li>
<li>azedo</li>
<li>azeite</li>
<li>azeitona</li>
<li>azul</li>
<li>b</li>
<li>baba</li>
<li>babado</li>
<li>babador</li>
<li>babar</li>
<li>bacia</li>
<li>bacuri</li>
<li>badalada</li>
<li>bagagem</li>
<li>baguncar</li>
<li>bahia</li>
<li>bailarino</li>
<li>baile</li>
<li>bainha</li>
<li>bairro</li>
<li>baixar</li>
<li>baixo</li>
<li>bajular</li>
<li>bala</li>
<li>balanca</li>
<li>balancar</li>
<li>balao</li>
<li>balbuciar</li>
<li>balde</li>
<li>baldeacao</li>
<li>bale</li>
<li>baleia</li>
<li>balsa</li>
<li>bambole</li>
<li>bambu</li>
<li>banana</li>
<li>banca_de_jornal</li>
<li>banco</li>
<li>banda</li>
<li>bandaid</li>
<li>bandeira</li>
<li>bandeirante</li>
<li>bandeirinha</li>
<li>bandeja</li>
<li>bandido</li>
<li>bangue-bangue</li>
<li>banguela</li>
<li>banhar</li>
<li>banheira</li>
<li>banheiro</li>
<li>banho</li>
<li>banir</li>
<li>banquete</li>
<li>bar</li>
<li>baralho</li>
<li>barata</li>
<li>barba</li>
<li>barbante</li>
<li>barbeador-eletrico</li>
<li>barbeador</li>
<li>barbeiro</li>
<li>barbudo</li>
<li>barca</li>
<li>barco</li>
<li>barra</li>
<li>barraca</li>
<li>barriga</li>
<li>barrigudo</li>
<li>barril</li>
<li>barro</li>
<li>barulhento</li>
<li>barulho</li>
<li>basquete</li>
<li>basta</li>
<li>bastao</li>
<li>bater</li>
<li>batismo</li>
<li>batom</li>
<li>batucar</li>
<li>bau</li>
<li>bebado</li>
<li>bebe</li>
<li>bebedouro</li>
<li>beber</li>
<li>bebida</li>
<li>bege</li>
<li>beija-flor</li>
<li>beijar</li>
<li>beijo</li>
<li>beisebol</li>
<li>beleza</li>
<li>belgica</li>
<li>beliche</li>
<li>beliscar</li>
<li>belo</li>
<li>belo_horizonte</li>
<li>bem-feito</li>
<li>bem</li>
<li>bem_vindo</li>
<li>bencao</li>
<li>bengala</li>
<li>benzer</li>
<li>berco</li>
<li>berinjela</li>
<li>biceps</li>
<li>bicho</li>
<li>bicicleta</li>
<li>bienio</li>
<li>bife</li>
<li>bigode</li>
<li>bilhao</li>
<li>bilhar</li>
<li>bilhete</li>
<li>bilinguismo</li>
<li>bimestre</li>
<li>bingo</li>
<li>binoculos</li>
<li>biologia</li>
<li>biologo</li>
<li>bisavo</li>
<li>biscate</li>
<li>biscoito</li>
<li>bisnaga</li>
<li>bispo</li>
<li>bissexual</li>
<li>bisturi</li>
<li>blasfemar</li>
<li>bloco</li>
<li>bloquear</li>
<li>blusa</li>
<li>boiar</li>
<li>boina</li>
<li>bola</li>
<li>bolacha</li>
<li>boliche</li>
<li>bolivia</li>
<li>boliviano</li>
<li>bolsa-de-estudo</li>
<li>bolso</li>
<li>bombeiro</li>
<li>bombom</li>
<li>brando</li>
<li>bussola</li>
<li>buzinar</li>
<li>c</li>
<li>cabana</li>
<li>cabeca</li>
<li>cabelo</li>
<li>cabeludo</li>
<li>caber</li>
<li>caber_nao</li>
<li>cabide</li>
<li>cabo</li>
<li>cabra</li>
<li>cabrito</li>
<li>cacador</li>
<li>cacar</li>
<li>cacarejar</li>
<li>cacau</li>
<li>cachaca</li>
<li>cachecol</li>
<li>cachimbo</li>
<li>cachoeira</li>
<li>cachorro-quente</li>
<li>cachorro</li>
<li>cacoar</li>
<li>cacula</li>
<li>cada</li>
<li>cadarco</li>
<li>cadaver</li>
<li>cade</li>
<li>cadeado</li>
<li>cadeia</li>
<li>cadeira</li>
<li>caderneta-de-poupanca</li>
<li>caderneta-escolar</li>
<li>caderno</li>
<li>cafe-da-manha</li>
<li>cafe</li>
<li>cafezinho</li>
<li>cafona</li>
<li>cagar</li>
<li>caibra</li>
<li>caipira</li>
<li>caipirinha</li>
<li>cair</li>
<li>caixa</li>
<li>caixao</li>
<li>cajado</li>
<li>caju</li>
<li>calado</li>
<li>calafrio</li>
<li>calar-a-boca</li>
<li>calar</li>
<li>calca</li>
<li>calcada</li>
<li>calcanhar</li>
<li>calcao</li>
<li>calcar</li>
<li>calcinha</li>
<li>calculadora</li>
<li>calda</li>
<li>calendario</li>
<li>calmante</li>
<li>calmo</li>
<li>calo</li>
<li>calor</li>
<li>calunia</li>
<li>calvo</li>
<li>cama</li>
<li>camada</li>
<li>camarao</li>
<li>camaroes</li>
<li>cambalear</li>
<li>camelo</li>
<li>camera_de_vigilancia</li>
<li>caminhada</li>
<li>caminhao</li>
<li>caminhar</li>
<li>caminho</li>
<li>caminhonete</li>
<li>camisa</li>
<li>camiseta</li>
<li>camisinha</li>
<li>camisola</li>
<li>campainha</li>
<li>campanha</li>
<li>campeao</li>
<li>campo-de-batalha</li>
<li>campo</li>
<li>camuflar</li>
<li>camundongo</li>
<li>cana-de-acucar</li>
<li>canada</li>
<li>canadense</li>
<li>canal-de-tv</li>
<li>canal</li>
<li>canario</li>
<li>cancao</li>
<li>cancelar</li>
<li>cancer</li>
<li>caneca</li>
<li>caneta</li>
<li>canguru</li>
<li>canhao</li>
<li>canhoto</li>
<li>canjica</li>
<li>cano</li>
<li>cansaco</li>
<li>cansado</li>
<li>cansar</li>
<li>canto</li>
<li>canudo</li>
<li>capa-de-chuva</li>
<li>capa</li>
<li>capacete</li>
<li>capacidade</li>
<li>capaz</li>
<li>capela</li>
<li>capengar</li>
<li>capim</li>
<li>capital</li>
<li>capitao</li>
<li>capoeira</li>
<li>caprichar</li>
<li>captar</li>
<li>cara-feia</li>
<li>cara</li>
<li>carate</li>
<li>carburador</li>
<li>careca</li>
<li>carie</li>
<li>carimbar</li>
<li>carinho</li>
<li>carnaval</li>
<li>carne-assada</li>
<li>carne-moida</li>
<li>carne</li>
<li>carneiro</li>
<li>carona</li>
<li>carpintaria</li>
<li>carpinteiro</li>
<li>carregar</li>
<li>carrinho</li>
<li>carro</li>
<li>carroca</li>
<li>carta</li>
<li>cartao-de-ponto</li>
<li>cartao</li>
<li>cartaz</li>
<li>carteira-de-habilitacao</li>
<li>carteira-de-identidade</li>
<li>cartola</li>
<li>cartorio</li>
<li>casa</li>
<li>casaco</li>
<li>casado</li>
<li>casal</li>
<li>casamento</li>
<li>casar</li>
<li>castigar</li>
<li>castigo</li>
<li>castrar</li>
<li>catalogo</li>
<li>catapora</li>
<li>categoria</li>
<li>catolicismo</li>
<li>catolico</li>
<li>catorze</li>
<li>catraca</li>
<li>cauda</li>
<li>caule</li>
<li>cavalgar</li>
<li>cavalo marinho</li>
<li>cavalo</li>
<li>cavanhaque</li>
<li>caveira</li>
<li>cd-rom</li>
<li>cebola</li>
<li>cego</li>
<li>ceia</li>
<li>ceifar</li>
<li>cela</li>
<li>celebrar</li>
<li>celebre</li>
<li>celibato</li>
<li>celular</li>
<li>cem</li>
<li>cemiterio</li>
<li>cenoura</li>
<li>censurar</li>
<li>centimetro</li>
<li>centro</li>
<li>cerca</li>
<li>cercar</li>
<li>cerebro</li>
<li>cereja</li>
<li>cerracao</li>
<li>certificar</li>
<li>cerveja</li>
<li>cesariana</li>
<li>cesta</li>
<li>ceu</li>
<li>cha</li>
<li>chafariz</li>
<li>chamar</li>
<li>chance</li>
<li>chantily</li>
<li>chao</li>
<li>chapeu</li>
<li>charuto</li>
<li>chateado</li>
<li>chatear</li>
<li>chato</li>
<li>chave</li>
<li>chave_de_fenda</li>
<li>chefe</li>
<li>chefiar</li>
<li>chega</li>
<li>chegar</li>
<li>cheia</li>
<li>cheirar</li>
<li>cheiroso</li>
<li>cheque</li>
<li>chiclete</li>
<li>chicote</li>
<li>chicotear</li>
<li>chifre</li>
<li>chile</li>
<li>chileno</li>
<li>china</li>
<li>chinelo</li>
<li>chines</li>
<li>chocalho</li>
<li>chocar</li>
<li>chocolate</li>
<li>chofer</li>
<li>chopp</li>
<li>choque</li>
<li>chorar</li>
<li>choro</li>
<li>chover</li>
<li>chuchu</li>
<li>chupar</li>
<li>chupeta</li>
<li>churrascaria</li>
<li>churrasco</li>
<li>churrasqueira</li>
<li>churrasquinho</li>
<li>chutar</li>
<li>chuva</li>
<li>chuveiro</li>
<li>ciclismo</li>
<li>cidade</li>
<li>cigarra</li>
<li>cigarro</li>
<li>cilindro</li>
<li>cilios</li>
<li>cimento</li>
<li>cinco</li>
<li>cinema</li>
<li>cinquenta</li>
<li>cinto</li>
<li>cintura</li>
<li>cinza</li>
<li>cinzeiro</li>
<li>circo</li>
<li>circular</li>
<li>circulo</li>
<li>circuncidar</li>
<li>circuncisao</li>
<li>cirurgia-plastica</li>
<li>cirurgia</li>
<li>ciscar</li>
<li>ciume</li>
<li>claro</li>
<li>classe</li>
<li>classificar</li>
<li>clips</li>
<li>cloro</li>
<li>clube</li>
<li>coagir</li>
<li>coar</li>
<li>coberta</li>
<li>cobertor</li>
<li>cobicar</li>
<li>cobra</li>
<li>cobrador</li>
<li>cobrar</li>
<li>cocaina</li>
<li>cocar</li>
<li>cocegas</li>
<li>coceira</li>
<li>cochichar</li>
<li>cochilar</li>
<li>coco</li>
<li>coelho</li>
<li>cofre</li>
<li>cogumelo</li>
<li>coice</li>
<li>coincidencia</li>
<li>coincidir</li>
<li>coisa</li>
<li>coitado</li>
<li>cola</li>
<li>colaborar</li>
<li>colar</li>
<li>colarinho</li>
<li>colchao</li>
<li>colega</li>
<li>colegio</li>
<li>colher</li>
<li>colidir</li>
<li>colina</li>
<li>colirio</li>
<li>colocar</li>
<li>colombia</li>
<li>colombiano</li>
<li>colorido</li>
<li>colorir</li>
<li>coluna</li>
<li>com-licenca</li>
<li>coma</li>
<li>comandar</li>
<li>combater</li>
<li>combinar</li>
<li>combustivel</li>
<li>comecar</li>
<li>comedia</li>
<li>comemoracao</li>
<li>comemorar</li>
<li>comentar</li>
<li>comentarista</li>
<li>comer</li>
<li>comercial</li>
<li>comercio</li>
<li>cometa</li>
<li>comico</li>
<li>comida</li>
<li>comigo</li>
<li>comissao</li>
<li>como</li>
<li>comoda</li>
<li>comodismo</li>
<li>comover</li>
<li>compadecer</li>
<li>compaixao</li>
<li>companheiro</li>
<li>comparar</li>
<li>comparecer</li>
<li>compasso</li>
<li>compensacao</li>
<li>compensar</li>
<li>competicao</li>
<li>competir</li>
<li>completar</li>
<li>completo</li>
<li>complicado</li>
<li>comportar</li>
<li>compreender</li>
<li>comprido</li>
<li>comprimido</li>
<li>computador</li>
<li>comum</li>
<li>comungar</li>
<li>comunicacao</li>
<li>comunicar</li>
<li>comunidade</li>
<li>comunista</li>
<li>concentrar</li>
<li>concha</li>
<li>concluir</li>
<li>concordar</li>
<li>concorrencia</li>
<li>concorrer</li>
<li>condicionador</li>
<li>condominio</li>
<li>conduta</li>
<li>conferenciar</li>
<li>conferir</li>
<li>confessar</li>
<li>confete</li>
<li>confianca</li>
<li>confiar</li>
<li>confidencial</li>
<li>confirmar</li>
<li>confiscar</li>
<li>confissao</li>
<li>conflito</li>
<li>conformar</li>
<li>confortar</li>
<li>conforto</li>
<li>confrontar</li>
<li>confundir</li>
<li>confusao</li>
<li>congelar</li>
<li>congestionamento</li>
<li>congregacao</li>
<li>congresso</li>
<li>conhecer</li>
<li>conhecimento</li>
<li>conjuge</li>
<li>conosco</li>
<li>conquistar</li>
<li>consciencia</li>
<li>conseguir</li>
<li>conselheiro</li>
<li>conselho</li>
<li>consertar</li>
<li>conservar</li>
<li>consolar</li>
<li>constituicao</li>
<li>construcao</li>
<li>construir</li>
<li>consultar</li>
<li>conta-gotas</li>
<li>conta</li>
<li>contabilidade</li>
<li>contador</li>
<li>contaminado</li>
<li>contaminar</li>
<li>contar</li>
<li>contatar</li>
<li>contato</li>
<li>contente</li>
<li>contigo</li>
<li>continencia</li>
<li>continuar</li>
<li>conto</li>
<li>contra-cheque</li>
<li>contra</li>
<li>contrabando</li>
<li>contrato</li>
<li>contribuicao</li>
<li>contribuir</li>
<li>convencer</li>
<li>convenio</li>
<li>convento</li>
<li>conversacao</li>
<li>conversao</li>
<li>conversar</li>
<li>converter</li>
<li>convidar</li>
<li>convite</li>
<li>coordenador</li>
<li>copiar</li>
<li>copo</li>
<li>coquetel</li>
<li>cor</li>
<li>coracao</li>
<li>coragem</li>
<li>corajoso</li>
<li>coral</li>
<li>corcovado</li>
<li>corcunda</li>
<li>corda</li>
<li>cordeiro</li>
<li>coreano</li>
<li>coreia</li>
<li>corneta</li>
<li>coroa</li>
<li>coronel</li>
<li>corpo</li>
<li>corredor</li>
<li>correio</li>
<li>corrente</li>
<li>correnteza</li>
<li>correr</li>
<li>correria</li>
<li>corresponder</li>
<li>corretor</li>
<li>corrida</li>
<li>corrigir</li>
<li>corromper</li>
<li>cortar</li>
<li>cortes</li>
<li>cortina</li>
<li>coruja</li>
<li>cosmeticos</li>
<li>costa</li>
<li>costela</li>
<li>costeleta</li>
<li>costume</li>
<li>costurar</li>
<li>costureira</li>
<li>cotonete</li>
<li>cotovelada</li>
<li>cotovelo</li>
<li>couro</li>
<li>covarde</li>
<li>coxa</li>
<li>coxear</li>
<li>coxinha_de_galinha</li>
<li>cozido</li>
<li>cozinha</li>
<li>cozinhar</li>
<li>cozinheira</li>
<li>cracha</li>
<li>cravar</li>
<li>creche</li>
<li>creme</li>
<li>crenca</li>
<li>crente</li>
<li>crepusculo</li>
<li>crer</li>
<li>crescer</li>
<li>crespo</li>
<li>criar</li>
<li>crime</li>
<li>criticar</li>
<li>crucificacao</li>
<li>cruzar</li>
<li>cuba</li>
<li>cubano</li>
<li>cubo</li>
<li>cueca</li>
<li>cuidado</li>
<li>cuidar</li>
<li>culpa</li>
<li>culpado</li>
<li>culto</li>
<li>cultura</li>
<li>cumprimentar</li>
<li>cunhado</li>
<li>cupido</li>
<li>cupuacu</li>
<li>cura</li>
<li>curar</li>
<li>curiosidade</li>
<li>curioso</li>
<li>curitiba</li>
<li>curriculo-vitae</li>
<li>curso</li>
<li>curto-circuito</li>
<li>curto</li>
<li>curva</li>
<li>cuspir</li>
<li>custar</li>
<li>d</li>
<li>dado</li>
<li>dama</li>
<li>damas</li>
<li>danado</li>
<li>danca</li>
<li>dancar</li>
<li>dancarina</li>
<li>danificar</li>
<li>dano</li>
<li>dar</li>
<li>dardo</li>
<li>data</li>
<li>datar</li>
<li>datilografar</li>
<li>datilografia</li>
<li>de-repente</li>
<li>debaixo</li>
<li>debate</li>
<li>debitar</li>
<li>debito</li>
<li>debochar</li>
<li>debrucar</li>
<li>decair</li>
<li>decalogo</li>
<li>decapitar</li>
<li>decente</li>
<li>decepar</li>
<li>decepcionado</li>
<li>decepcionar</li>
<li>decidir</li>
<li>decifrar</li>
<li>decisao</li>
<li>declarar</li>
<li>declinacao</li>
<li>decolar</li>
<li>decompor</li>
<li>decorar</li>
<li>decretar</li>
<li>decreto</li>
<li>decurso</li>
<li>dedal</li>
<li>dedicar</li>
<li>dedilhar</li>
<li>dedo</li>
<li>dedurar</li>
<li>deduzir</li>
<li>defecar</li>
<li>defeito</li>
<li>defender</li>
<li>defesa</li>
<li>deficiente-auditivo</li>
<li>deficiente-mental</li>
<li>deficiente-visual</li>
<li>definhar</li>
<li>definir</li>
<li>deformar</li>
<li>defunto</li>
<li>deglutir</li>
<li>degolar</li>
<li>degrau</li>
<li>degustar</li>
<li>deitar</li>
<li>delatar</li>
<li>dele</li>
<li>delegacia-de-policia</li>
<li>delegado</li>
<li>deletar</li>
<li>delicia</li>
<li>delineador</li>
<li>delirio</li>
<li>demitir</li>
<li>democracia</li>
<li>demolir</li>
<li>demonio</li>
<li>demorar</li>
<li>dengoso</li>
<li>dengue</li>
<li>denodar</li>
<li>denominar</li>
<li>dentada</li>
<li>dentadura</li>
<li>dente</li>
<li>denticao</li>
<li>dentista</li>
<li>dentro</li>
<li>dentuco</li>
<li>denunciar</li>
<li>depenar</li>
<li>direito</li>
<li>e</li>
<li>ebulicao</li>
<li>eclipse</li>
<li>economia</li>
<li>economizar</li>
<li>edificar</li>
<li>editar</li>
<li>educacao</li>
<li>educado</li>
<li>educar</li>
<li>efervescente</li>
<li>efetivo</li>
<li>egito</li>
<li>egoista</li>
<li>ejaculacao</li>
<li>ejacular</li>
<li>elastico</li>
<li>ele</li>
<li>ele_mesmo</li>
<li>elefante</li>
<li>elegante</li>
<li>eleger</li>
<li>eleicao</li>
<li>eletricidade</li>
<li>eletricista</li>
<li>eletrico</li>
<li>eletrodomesticos</li>
<li>elevador</li>
<li>eliminar</li>
<li>ema</li>
<li>emagrecer</li>
<li>emagrecimento</li>
<li>embacar</li>
<li>embaixada</li>
<li>embaixo</li>
<li>embalar</li>
<li>embarcacao</li>
<li>emblema</li>
<li>embora</li>
<li>embriagado</li>
<li>embriagar</li>
<li>embrulhar</li>
<li>emergir</li>
<li>emocao</li>
<li>emocionar</li>
<li>emoldurar</li>
<li>empada</li>
<li>empatar</li>
<li>empenhar</li>
<li>empregado</li>
<li>empregar</li>
<li>emprego</li>
<li>empresario</li>
<li>emprestar</li>
<li>emprestimo</li>
<li>empurrar</li>
<li>encabular</li>
<li>encarar</li>
<li>encarcerar</li>
<li>encardido</li>
<li>enceradeira</li>
<li>enchente</li>
<li>encher</li>
<li>encoberto</li>
<li>encobrir</li>
<li>encolher</li>
<li>encontrar</li>
<li>encorajamento</li>
<li>encorajar</li>
<li>encrenca</li>
<li>encrespar</li>
<li>endereco</li>
<li>enfeitar</li>
<li>enfermeiro</li>
<li>enforcado</li>
<li>enforcar</li>
<li>enfraquecer</li>
<li>enfrentar</li>
<li>enganar</li>
<li>engarrafar</li>
<li>engasgar</li>
<li>engatinhar</li>
<li>engenharia</li>
<li>engenheiro</li>
<li>engolir</li>
<li>engordar</li>
<li>engracado</li>
<li>engraxar</li>
<li>enjoado</li>
<li>enjoo</li>
<li>enorme</li>
<li>enroscar</li>
<li>ensaiar</li>
<li>ensanguentado</li>
<li>ensinar</li>
<li>ensolarado</li>
<li>ensurdecido</li>
<li>entender</li>
<li>enterrar</li>
<li>enterro</li>
<li>entornar</li>
<li>entrada</li>
<li>entrar</li>
<li>entregar</li>
<li>entrevistar</li>
<li>entristecer</li>
<li>envelhecer</li>
<li>envelope</li>
<li>envenenar</li>
<li>envergonhar</li>
<li>enviar</li>
<li>enviuvar</li>
<li>envolver</li>
<li>enxaqueca</li>
<li>enxergar</li>
<li>enxugar</li>
<li>epidemia</li>
<li>episcopal</li>
<li>equatoriano</li>
<li>equipe</li>
<li>equitacao</li>
<li>erecao</li>
<li>erguer</li>
<li>errado</li>
<li>errar</li>
<li>ervilha</li>
<li>esbarrar</li>
<li>esbofetear</li>
<li>escada-rolante</li>
<li>escada</li>
<li>escada_de_caracol</li>
<li>escalar</li>
<li>esclarecer</li>
<li>escoces</li>
<li>escocia</li>
<li>escola</li>
<li>escolher</li>
<li>esconde-esconde</li>
<li>esconder</li>
<li>escondido</li>
<li>escopeta</li>
<li>escorregador</li>
<li>escorregar</li>
<li>escorrer</li>
<li>escoteiro</li>
<li>escova-dental</li>
<li>escravo</li>
<li>escrever</li>
<li>escritor</li>
<li>escritorio</li>
<li>escudo</li>
<li>esculpir</li>
<li>escultura</li>
<li>escurecer</li>
<li>escuro</li>
<li>esfaquear</li>
<li>esfera</li>
<li>esfolar</li>
<li>esforcar</li>
<li>esfregar</li>
<li>esfriar</li>
<li>esgrima</li>
<li>esmagar</li>
<li>espaguete</li>
<li>espancar</li>
<li>espanha</li>
<li>espanhol</li>
<li>esparramar</li>
<li>espatula</li>
<li>especial</li>
<li>espelho</li>
<li>esperanca</li>
<li>esperar</li>
<li>esperma</li>
<li>esperto</li>
<li>espetinho</li>
<li>espiao</li>
<li>espingarda</li>
<li>espinha</li>
<li>espinho</li>
<li>espionar</li>
<li>espirita</li>
<li>espiritismo</li>
<li>espirrar</li>
<li>esponja</li>
<li>esporte</li>
<li>esposa</li>
<li>espreguicadeira</li>
<li>espremer</li>
<li>esquecer</li>
<li>esquentar</li>
<li>esquerda</li>
<li>esquiar</li>
<li>esquilo</li>
<li>esquimo</li>
<li>esquina</li>
<li>esquisito</li>
<li>esse</li>
<li>estabelecimento</li>
<li>estaca</li>
<li>estacionamento</li>
<li>estado</li>
<li>estados-unidos</li>
<li>estadual</li>
<li>estagio</li>
<li>estampar</li>
<li>estante</li>
<li>estar</li>
<li>estatua</li>
<li>estatuto</li>
<li>este</li>
<li>estender</li>
<li>estetoscopio</li>
<li>esticar</li>
<li>estilete</li>
<li>estilhacar</li>
<li>estojo</li>
<li>estomago</li>
<li>estoria</li>
<li>estrada</li>
<li>estragado</li>
<li>estragar</li>
<li>estrangeiro</li>
<li>estrangular</li>
<li>estranhar</li>
<li>estranho</li>
<li>estrategia</li>
<li>estreito</li>
<li>estrela-do-mar</li>
<li>estrela</li>
<li>estudar</li>
<li>estudos_sociais</li>
<li>estupido</li>
<li>estuprar</li>
<li>estupro</li>
<li>esvaziar</li>
<li>eterno</li>
<li>etiquetar</li>
<li>eu</li>
<li>europa</li>
<li>evangelho</li>
<li>evangelico</li>
<li>evaporar</li>
<li>evitar</li>
<li>evolucao</li>
<li>exagerado</li>
<li>exaltar</li>
<li>exame</li>
<li>examinar</li>
<li>exato</li>
<li>exausto</li>
<li>excitar</li>
<li>excluir</li>
<li>excursao</li>
<li>exercicio</li>
<li>exercito</li>
<li>existir</li>
<li>exortar</li>
<li>expandir</li>
<li>experiencia</li>
<li>explanar</li>
<li>expor</li>
<li>exterminar</li>
<li>extrair</li>
<li>extraviar</li>
<li>f</li>
<li>fa</li>
<li>fabrica</li>
<li>faca</li>
<li>facada</li>
<li>face</li>
<li>face_a_face</li>
<li>facil</li>
<li>faculdade</li>
<li>fada</li>
<li>faixa</li>
<li>falante</li>
<li>falar</li>
<li>falcao</li>
<li>falecimento</li>
<li>falhar</li>
<li>falir</li>
<li>falso</li>
<li>faltar</li>
<li>familia</li>
<li>famoso</li>
<li>fantasiar</li>
<li>fantasma</li>
<li>faqueiro</li>
<li>farao</li>
<li>farejar</li>
<li>faringe</li>
<li>farinha-de-rosca</li>
<li>farinha_de_trigo</li>
<li>farmacia</li>
<li>farofa</li>
<li>farol</li>
<li>farra</li>
<li>farto</li>
<li>fatiar</li>
<li>faturar</li>
<li>favela</li>
<li>favor</li>
<li>favorito</li>
<li>fax</li>
<li>faxina</li>
<li>fazenda</li>
<li>fazer</li>
<li>febre</li>
<li>fechadura</li>
<li>fechar</li>
<li>federacao</li>
<li>federal</li>
<li>fedor</li>
<li>feijao</li>
<li>feijoada</li>
<li>feio</li>
<li>feira</li>
<li>feiticeira</li>
<li>felacao</li>
<li>felicidade</li>
<li>femea</li>
<li>ferias</li>
<li>ferimento</li>
<li>ferir</li>
<li>fermento</li>
<li>feroz</li>
<li>ferramenta</li>
<li>ferro-eletrico</li>
<li>ferro</li>
<li>ferroada</li>
<li>ferrugem</li>
<li>ferver</li>
<li>fervilhar</li>
<li>festa</li>
<li>festejar</li>
<li>fevereiro</li>
<li>ficar</li>
<li>ficha</li>
<li>fichario</li>
<li>fiel</li>
<li>figa</li>
<li>figura</li>
<li>figurinha</li>
<li>fila</li>
<li>filho</li>
<li>filhote</li>
<li>filmar</li>
<li>filme</li>
<li>filosofia</li>
<li>fim</li>
<li>final</li>
<li>finalmente</li>
<li>fincar</li>
<li>findar</li>
<li>fingir</li>
<li>finlandes</li>
<li>fino</li>
<li>fio-dental</li>
<li>firma</li>
<li>firmamento</li>
<li>firme</li>
<li>fiscalizar</li>
<li>fisica</li>
<li>fisionomia</li>
<li>fisioterapeuta</li>
<li>fixo</li>
<li>flagrar</li>
<li>flash</li>
<li>flauta</li>
<li>flecha</li>
<li>flertar</li>
<li>flor</li>
<li>florescer</li>
<li>floresta</li>
<li>florianopolis</li>
<li>fluente</li>
<li>flutuar</li>
<li>foca</li>
<li>fofinho</li>
<li>fofocar</li>
<li>fofoqueiro</li>
<li>fogao</li>
<li>fogo</li>
<li>fogoso</li>
<li>fogueira</li>
<li>foguete</li>
<li>folgado</li>
<li>folha</li>
<li>fome</li>
<li>fonoaudiologo</li>
<li>fonte</li>
<li>fora</li>
<li>formar</li>
<li>formiga</li>
<li>formigar</li>
<li>forno</li>
<li>fortalecer</li>
<li>forte</li>
<li>fortuna</li>
<li>fosforo</li>
<li>foto</li>
<li>fotografar</li>
<li>fotografia</li>
<li>fraco</li>
<li>fragmentos</li>
<li>fragrancia</li>
<li>fralda</li>
<li>franca</li>
<li>frances</li>
<li>franco</li>
<li>frango</li>
<li>frase</li>
<li>fraturar</li>
<li>freezer</li>
<li>freio</li>
<li>frente</li>
<li>fresco</li>
<li>frescobol</li>
<li>fretar</li>
<li>frete</li>
<li>frigideira</li>
<li>frio</li>
<li>fronteira</li>
<li>frustar</li>
<li>fruta</li>
<li>fuba</li>
<li>fugir</li>
<li>fumaca</li>
<li>fumar</li>
<li>funcionario</li>
<li>fundar</li>
<li>fundo</li>
<li>funeral</li>
<li>fungar</li>
<li>funil</li>
<li>furacao</li>
<li>furar</li>
<li>furia</li>
<li>furioso</li>
<li>futebol</li>
<li>futivolei</li>
<li>futuro</li>
<li>fuzil</li>
<li>fuzilar</li>
<li>g</li>
<li>gabar</li>
<li>gafanhoto</li>
<li>gaiola</li>
<li>gaita</li>
<li>gaivota</li>
<li>gala</li>
<li>galinha</li>
<li>galo</li>
<li>galocha</li>
<li>galopar</li>
<li>gamba</li>
<li>gangue</li>
<li>ganhar</li>
<li>ganso</li>
<li>garagem</li>
<li>garconete</li>
<li>garfo</li>
<li>gargalhar</li>
<li>garganta</li>
<li>gari</li>
<li>garota</li>
<li>gas</li>
<li>gasolina</li>
<li>gasoso</li>
<li>gastar</li>
<li>gato</li>
<li>gaucho</li>
<li>gaveta</li>
<li>gaviao</li>
<li>gay</li>
<li>gel</li>
<li>geladeira</li>
<li>gelatina</li>
<li>geleia</li>
<li>gelo</li>
<li>gema</li>
<li>gemeo</li>
<li>gemer</li>
<li>general</li>
<li>generoso</li>
<li>genro</li>
<li>geografia</li>
<li>geometria</li>
<li>geracao</li>
<li>geral</li>
<li>gerente</li>
<li>germinar</li>
<li>gesso</li>
<li>gestacao</li>
<li>gesto</li>
<li>gestuno</li>
<li>gibi</li>
<li>gigante</li>
<li>gilete</li>
<li>ginastica</li>
<li>ginecologia</li>
<li>gingar</li>
<li>girafa</li>
<li>giria</li>
<li>giz</li>
<li>glace</li>
<li>glicose</li>
<li>globo</li>
<li>gluteo</li>
<li>goiaba</li>
<li>goias</li>
<li>gol</li>
<li>goleiro</li>
<li>golfinho</li>
<li>golpear</li>
<li>gonorreia</li>
<li>gordo</li>
<li>gordura</li>
<li>gorila</li>
<li>gorjeta</li>
<li>gostar</li>
<li>gosto</li>
<li>gostoso</li>
<li>gotejar</li>
<li>governador</li>
<li>governo</li>
<li>gozado</li>
<li>gozar</li>
<li>graca</li>
<li>gradear</li>
<li>grafica</li>
<li>grafite</li>
<li>grama</li>
<li>gramatica</li>
<li>grampeador</li>
<li>grampear</li>
<li>grampo</li>
<li>granada</li>
<li>grande</li>
<li>grao</li>
<li>gratis</li>
<li>grato</li>
<li>grau</li>
<li>gravador</li>
<li>gravar</li>
<li>gravata</li>
<li>grave</li>
<li>gravida</li>
<li>gravidez</li>
<li>graviola</li>
<li>gravura</li>
<li>grecia</li>
<li>grego</li>
<li>greve</li>
<li>grifar</li>
<li>grilhao</li>
<li>grilo</li>
<li>grosseiro</li>
<li>grosso</li>
<li>grude</li>
<li>guarana</li>
<li>guarda-chuva</li>
<li>guarda-roupa</li>
<li>guarda-sol</li>
<li>guarda</li>
<li>guardanapo</li>
<li>guardar</li>
<li>guerra</li>
<li>guiar</li>
<li>guidom</li>
<li>guinchar</li>
<li>guitarra</li>
<li>gula</li>
<li>guloso</li>
<li>h</li>
<li>habitar</li>
<li>habito</li>
<li>handebol</li>
<li>harmonica</li>
<li>harmonizar</li>
<li>harpa</li>
<li>havai</li>
<li>haver</li>
<li>helicoptero</li>
<li>hematoma</li>
<li>hemorragia</li>
<li>hemorroida</li>
<li>hereditario</li>
<li>herpes</li>
<li>hesitar</li>
<li>hidrocor</li>
<li>hiena</li>
<li>hierarquia</li>
<li>higiene</li>
<li>hino</li>
<li>hipismo</li>
<li>hipopotamo</li>
<li>hippie</li>
<li>historia</li>
<li>hoje</li>
<li>holanda</li>
<li>holandes</li>
<li>homem</li>
<li>homossexual</li>
<li>honestidade</li>
<li>honesto</li>
<li>honrar</li>
<li>hoquei</li>
<li>hora-extra</li>
<li>hora</li>
<li>horizontal</li>
<li>horrivel</li>
<li>horror</li>
<li>hortela</li>
<li>hospedar</li>
<li>hospital</li>
<li>hostia</li>
<li>hotel</li>
<li>humilde</li>
<li>humilhado</li>
<li>humor</li>
<li>humorado</li>
<li>i</li>
<li>iceberg</li>
<li>ida</li>
<li>idade</li>
<li>ideia</li>
<li>identico</li>
<li>identidade</li>
<li>idioma</li>
<li>idiota</li>
<li>idoso</li>
<li>ignorante</li>
<li>ignorar</li>
<li>igreja</li>
<li>igual</li>
<li>ilegal</li>
<li>ilegivel</li>
<li>ilha</li>
<li>iluminar</li>
<li>ilustracao</li>
<li>ilustrar</li>
<li>imaginar</li>
<li>imediatamente</li>
<li>imenso</li>
<li>imergir</li>
<li>imitar</li>
<li>imparcial</li>
<li>impedir</li>
<li>imperador</li>
<li>imperfeito</li>
<li>imperio</li>
<li>implorar</li>
<li>impor</li>
<li>importado</li>
<li>importar</li>
<li>importunar</li>
<li>impossivel</li>
<li>imposto</li>
<li>imprensar</li>
<li>impressao_digital</li>
<li>impressionar</li>
<li>impressora</li>
<li>imprimir</li>
<li>imundo</li>
<li>inalar</li>
<li>inaugurar</li>
<li>incendiar</li>
<li>incenso</li>
<li>incentivar</li>
<li>incinerar</li>
<li>inclinar</li>
<li>incluido</li>
<li>incluir</li>
<li>inclusao</li>
<li>incluso</li>
<li>incomodar</li>
<li>incorporado</li>
<li>inculto</li>
<li>indeciso</li>
<li>independente</li>
<li>indiano</li>
<li>indicador</li>
<li>indicar</li>
<li>indiferente</li>
<li>indigestao</li>
<li>indiscreto</li>
<li>individual</li>
<li>individuo</li>
<li>infantil</li>
<li>infeliz</li>
<li>inferior</li>
<li>inferno</li>
<li>inflacao</li>
<li>inflamar</li>
<li>influenciar</li>
<li>influenza</li>
<li>informacao</li>
<li>informar</li>
<li>informatica</li>
<li>ingenuo</li>
<li>ingerir</li>
<li>inglaterra</li>
<li>ingles</li>
<li>ingressar</li>
<li>ingresso</li>
<li>inicio</li>
<li>inimigo</li>
<li>injecao</li>
<li>injetar</li>
<li>inocente</li>
<li>inodoro</li>
<li>inofensivo</li>
<li>inquerito</li>
<li>insano</li>
<li>inscrever</li>
<li>inscricao</li>
<li>inserir</li>
<li>inseto</li>
<li>insignia</li>
<li>insignificante</li>
<li>insistir</li>
<li>insonia</li>
<li>inspetor</li>
<li>instalar</li>
<li>instinto</li>
<li>instruir</li>
<li>instrutor</li>
<li>insulto</li>
<li>integracao</li>
<li>integrar</li>
<li>inteiro</li>
<li>intelectual</li>
<li>inteligente</li>
<li>intencao</li>
<li>interessante</li>
<li>interessar</li>
<li>interesse</li>
<li>interferencia</li>
<li>interferir</li>
<li>interino</li>
<li>interior</li>
<li>internacional</li>
<li>internar</li>
<li>internato</li>
<li>internet</li>
<li>interpretacao</li>
<li>interpretar</li>
<li>interprete</li>
<li>interromper</li>
<li>interruptor</li>
<li>intervalo</li>
<li>intervir</li>
<li>intimar</li>
<li>intrepidez</li>
<li>introducao</li>
<li>intrometer</li>
<li>inutil</li>
<li>invadir</li>
<li>inveja</li>
<li>invejar</li>
<li>inventar</li>
<li>inverno</li>
<li>inverter</li>
<li>investigar</li>
<li>invisivel</li>
<li>ioga</li>
<li>ir</li>
<li>irmao</li>
<li>irrigacao</li>
<li>isca</li>
<li>isentar</li>
<li>isolado</li>
<li>isqueiro</li>
<li>israel</li>
<li>israelita</li>
<li>isso</li>
<li>italia</li>
<li>italiano</li>
<li>j</li>
<li>ja</li>
<li>jabota</li>
<li>jabuti</li>
<li>jabuticaba</li>
<li>jaca</li>
<li>jacare</li>
<li>jaguar</li>
<li>jamais</li>
<li>janeiro</li>
<li>janela</li>
<li>jangada</li>
<li>jantar</li>
<li>japao</li>
<li>japones</li>
<li>jaqueta</li>
<li>jardim</li>
<li>jarra</li>
<li>jato</li>
<li>jaula</li>
<li>javali</li>
<li>jazigo</li>
<li>jeito</li>
<li>jejuar</li>
<li>jejum</li>
<li>jesus-cristo</li>
<li>jiboia</li>
<li>jilo</li>
<li>jiu-jitsu</li>
<li>jocoso</li>
<li>jogado</li>
<li>jogador</li>
<li>jogar</li>
<li>jogo</li>
<li>jornal</li>
<li>jornaleiro</li>
<li>jornalista</li>
<li>jorrar</li>
<li>jovem</li>
<li>juba</li>
<li>judeu</li>
<li>judicial</li>
<li>juiz</li>
<li>juizo</li>
<li>julgamento</li>
<li>julgar</li>
<li>julho</li>
<li>jumento</li>
<li>junta</li>
<li>juntar</li>
<li>junto</li>
<li>juramento</li>
<li>jurar</li>
<li>juri</li>
<li>juridico</li>
<li>juros</li>
<li>justica</li>
<li>justo</li>
<li>juvenil</li>
<li>juventude</li>
<li>k</li>
<li>l</li>
<li>la</li>
<li>labia</li>
<li>labio</li>
<li>labirintite</li>
<li>labirinto</li>
<li>laboratorio</li>
<li>lacar</li>
<li>laco</li>
<li>lacrimejar</li>
<li>lactacao</li>
<li>ladeira</li>
<li>lado</li>
<li>ladrao</li>
<li>ladrilho</li>
<li>lagarta</li>
<li>lagartixa</li>
<li>lago</li>
<li>lagoa</li>
<li>lagosta</li>
<li>lagrima</li>
<li>laje</li>
<li>lama</li>
<li>lamber</li>
<li>lambuzada</li>
<li>lambuzar</li>
<li>lamentar</li>
<li>lamina</li>
<li>lampada</li>
<li>lampiao</li>
<li>lanca-perfume</li>
<li>lanca</li>
<li>lancamento</li>
<li>lancar</li>
<li>lancha</li>
<li>lanche</li>
<li>lanchonete</li>
<li>lanterna</li>
<li>lapidar</li>
<li>lapide</li>
<li>lapis</li>
<li>lapiseira</li>
<li>lapso</li>
<li>laque</li>
<li>lar</li>
<li>laranja</li>
<li>lareira</li>
<li>largado</li>
<li>largar</li>
<li>largo</li>
<li>largura</li>
<li>laringe</li>
<li>lata</li>
<li>lateral</li>
<li>laticinios</li>
<li>latido</li>
<li>latino-americano</li>
<li>latir</li>
<li>latitude</li>
<li>laudo</li>
<li>lava</li>
<li>lavar</li>
<li>lavoura</li>
<li>lavrador</li>
<li>lavrar</li>
<li>leal</li>
<li>leao</li>
<li>lebre</li>
<li>lecionar</li>
<li>legal</li>
<li>legalizar</li>
<li>legenda</li>
<li>legislacao</li>
<li>legitimar</li>
<li>legitimo</li>
<li>legivel</li>
<li>lei</li>
<li>leilao</li>
<li>leitao</li>
<li>leite-condensado</li>
<li>leite</li>
<li>leito</li>
<li>leitura</li>
<li>lembranca</li>
<li>lembrar</li>
<li>lembrar_nao</li>
<li>leme</li>
<li>lenco</li>
<li>lencol</li>
<li>lenda</li>
<li>lenha</li>
<li>lente-de-contato</li>
<li>lente</li>
<li>lentidao</li>
<li>lento</li>
<li>lepra</li>
<li>leque</li>
<li>ler</li>
<li>lerdo</li>
<li>lesao</li>
<li>lesbica</li>
<li>lesma</li>
<li>leste</li>
<li>letra</li>
<li>levado</li>
<li>levantar</li>
<li>levar</li>
<li>leve</li>
<li>levitar</li>
<li>lhama</li>
<li>liberal</li>
<li>liberar</li>
<li>liberdade</li>
<li>libra</li>
<li>licao</li>
<li>lider</li>
<li>ligacao</li>
<li>ligar</li>
<li>ligeiro</li>
<li>lima</li>
<li>limao</li>
<li>limitado</li>
<li>limitar</li>
<li>limite</li>
<li>limo</li>
<li>limpeza</li>
<li>limpo</li>
<li>lindo</li>
<li>lingua-de-sinais</li>
<li>lingua</li>
<li>lingua_estrangeira</li>
<li>linguagem</li>
<li>linguarudo</li>
<li>linguica</li>
<li>linguistica</li>
<li>linha</li>
<li>liquid-paper</li>
<li>liquidacao</li>
<li>liquidificador</li>
<li>liso</li>
<li>lista</li>
<li>listagem</li>
<li>listra</li>
<li>litro</li>
<li>livido</li>
<li>livrar</li>
<li>livro</li>
<li>lixa</li>
<li>lixar</li>
<li>lixeira</li>
<li>lixo</li>
<li>lobisomem</li>
<li>lobo</li>
<li>local</li>
<li>localizar</li>
<li>locomotiva</li>
<li>logo</li>
<li>loja</li>
<li>lombada</li>
<li>longe</li>
<li>losango</li>
<li>lotado</li>
<li>lotar</li>
<li>lote</li>
<li>loteria</li>
<li>louca</li>
<li>louco</li>
<li>louro</li>
<li>lousa</li>
<li>lua-de-mel</li>
<li>lua</li>
<li>lubrificante</li>
<li>lubrificar</li>
<li>lucrar</li>
<li>lula</li>
<li>luminaria</li>
<li>luminoso</li>
<li>luneta</li>
<li>lupa</li>
<li>lustrar</li>
<li>lustre</li>
<li>lutar</li>
<li>luterano</li>
<li>luva</li>
<li>luxar</li>
<li>luxo</li>
<li>luz</li>
<li>m</li>
<li>macacao</li>
<li>macaco</li>
<li>macaco_mecanico</li>
<li>macarrao</li>
<li>maceio</li>
<li>machado</li>
<li>machao</li>
<li>machista</li>
<li>macho</li>
<li>machucar</li>
<li>macio</li>
<li>maconha</li>
<li>macumba</li>
<li>madeira</li>
<li>madrasta</li>
<li>madrinha</li>
<li>madrugada</li>
<li>maduro</li>
<li>maestro</li>
<li>magica</li>
<li>magico</li>
<li>magisterio</li>
<li>magnifico</li>
<li>maio</li>
<li>maionese</li>
<li>maior</li>
<li>maioria</li>
<li>mais</li>
<li>mal</li>
<li>mala</li>
<li>malandro</li>
<li>malasia</li>
<li>malcriado</li>
<li>maldade</li>
<li>malfeitor</li>
<li>maltratar</li>
<li>maluco</li>
<li>malvado</li>
<li>mamadeira</li>
<li>mamae</li>
<li>mamao</li>
<li>mamar</li>
<li>mamifero</li>
<li>manaus</li>
<li>mancar</li>
<li>mancha</li>
<li>mandamentos</li>
<li>mandar</li>
<li>mandioca</li>
<li>manga</li>
<li>mangueira</li>
<li>mania</li>
<li>maniaco</li>
<li>manicure</li>
<li>manifestacao</li>
<li>manifestar</li>
<li>mano</li>
<li>manobra</li>
<li>manobrar</li>
<li>manso</li>
<li>manteiga</li>
<li>manter</li>
<li>manutencao</li>
<li>mao</li>
<li>mapa</li>
<li>maquiagem</li>
<li>maquina-de_escrever</li>
<li>maquina</li>
<li>maquina_de_lavar_roupa</li>
<li>mar</li>
<li>maracuja</li>
<li>maraja</li>
<li>maravilhoso</li>
<li>marca</li>
<li>marcar</li>
<li>marceneiro</li>
<li>marchar</li>
<li>marco</li>
<li>maremoto</li>
<li>margarina</li>
<li>maria_fumaca</li>
<li>marido</li>
<li>marinha</li>
<li>marionete</li>
<li>marmita</li>
<li>marrom</li>
<li>martelar</li>
<li>martelo</li>
<li>mas</li>
<li>mascara</li>
<li>masculino</li>
<li>massa</li>
<li>massagear</li>
<li>massagem</li>
<li>mastigar</li>
<li>masturbar</li>
<li>mata</li>
<li>matar</li>
<li>mate</li>
<li>matematica</li>
<li>material</li>
<li>mato grosso</li>
<li>mato-grosso-do-sul</li>
<li>mato</li>
<li>matricula</li>
<li>matricular</li>
<li>matriz</li>
<li>mau</li>
<li>maximo</li>
<li>medalha</li>
<li>medicina</li>
<li>medico</li>
<li>medio</li>
<li>medir</li>
<li>meditacao</li>
<li>medo</li>
<li>megafone</li>
<li>meia_calca</li>
<li>meia_noite</li>
<li>meio</li>
<li>mel</li>
<li>melancia</li>
<li>membro</li>
<li>memoria</li>
<li>memorizar</li>
<li>mendigar</li>
<li>mendigo</li>
<li>menina</li>
<li>menino</li>
<li>menor</li>
<li>menos</li>
<li>menosprezar</li>
<li>mensal</li>
<li>menstruacao</li>
<li>menstruar</li>
<li>mente</li>
<li>mentir</li>
<li>mercado</li>
<li>merda</li>
<li>meretriz</li>
<li>mergulhar</li>
<li>mes</li>
<li>mesa</li>
<li>mesmo</li>
<li>mesquinho</li>
<li>mestrado</li>
<li>meter</li>
<li>metido</li>
<li>metodologia</li>
<li>metralhadora</li>
<li>metro</li>
<li>meu</li>
<li>mexer</li>
<li>mexerica</li>
<li>mexicano</li>
<li>mexico</li>
<li>mexilhao</li>
<li>mico</li>
<li>microoinbus</li>
<li>microondas</li>
<li>microscopio</li>
<li>mijar</li>
<li>mil</li>
<li>milagre</li>
<li>milhao</li>
<li>milho</li>
<li>milionario</li>
<li>militar</li>
<li>mim</li>
<li>mimado</li>
<li>mimica</li>
<li>mingau</li>
<li>minhoca</li>
<li>mini_saia</li>
<li>minimo</li>
<li>ministerio</li>
<li>ministro</li>
<li>minuto</li>
<li>miseria</li>
<li>misericordia</li>
<li>missa</li>
<li>missil</li>
<li>missionario</li>
<li>misterio</li>
<li>mistura</li>
<li>misturar</li>
<li>mobilia</li>
<li>moca</li>
<li>mochila</li>
<li>moda</li>
<li>modelar</li>
<li>modelo</li>
<li>moderno</li>
<li>modesto</li>
<li>modificar</li>
<li>moeda</li>
<li>moer</li>
<li>moido</li>
<li>moinho</li>
<li>moises</li>
<li>mola</li>
<li>mole</li>
<li>moleque</li>
<li>molhado</li>
<li>molhar</li>
<li>molho</li>
<li>monarca</li>
<li>monitor</li>
<li>monologo</li>
<li>monstro</li>
<li>montagem</li>
<li>montanha</li>
<li>morango</li>
<li>morar</li>
<li>morcego</li>
<li>morder</li>
<li>moreno</li>
<li>morno</li>
<li>morrer</li>
<li>morro</li>
<li>mosca</li>
<li>mosquito</li>
<li>mostarda</li>
<li>mostrar</li>
<li>motel</li>
<li>motivo</li>
<li>moto</li>
<li>motocicleta</li>
<li>motor</li>
<li>motorista</li>
<li>mouse</li>
<li>movedica</li>
<li>moveis</li>
<li>mover-pessoa</li>
<li>movimento</li>
<li>mudar</li>
<li>mudo</li>
<li>muito</li>
<li>mulato</li>
<li>muleta</li>
<li>mulher</li>
<li>mulherengo</li>
<li>multa</li>
<li>multar</li>
<li>multiplicar</li>
<li>mundo</li>
<li>municipio</li>
<li>mural</li>
<li>murchar</li>
<li>muro</li>
<li>murro</li>
<li>musculo</li>
<li>musica</li>
<li>mutilar</li>
<li>n</li>
<li>nacionalidade</li>
<li>nada</li>
<li>nadar</li>
<li>nadega</li>
<li>namorado</li>
<li>namorar</li>
<li>namoro</li>
<li>nao</li>
<li>nariz</li>
<li>narrar</li>
<li>nascer</li>
<li>nascimento</li>
<li>natal</li>
<li>natureza</li>
<li>naufragar</li>
<li>nausea</li>
<li>navalha</li>
<li>nave</li>
<li>navegacao</li>
<li>navio</li>
<li>neblina</li>
<li>necessario</li>
<li>negativo</li>
<li>negligenciar</li>
<li>negociar</li>
<li>negocio</li>
<li>negro</li>
<li>nene</li>
<li>nenhum</li>
<li>nervoso</li>
<li>neto</li>
<li>neutro</li>
<li>nevar</li>
<li>neve</li>
<li>nicaragua</li>
<li>ninar</li>
<li>ninguem</li>
<li>nivel</li>
<li>no</li>
<li>noite</li>
<li>noivo</li>
<li>nomeado</li>
<li>nomear</li>
<li>nominal</li>
<li>normal</li>
<li>noruega</li>
<li>noruegues</li>
<li>nos</li>
<li>nosso</li>
<li>nota</li>
<li>nota_fiscal</li>
<li>notar</li>
<li>notavel</li>
<li>noticia</li>
<li>noturno</li>
<li>nova zelandia</li>
<li>nove</li>
<li>novela</li>
<li>novembro</li>
<li>novidade</li>
<li>novo</li>
<li>noz</li>
<li>nu</li>
<li>nubente</li>
<li>nublado</li>
<li>nuca</li>
<li>nudez</li>
<li>nulo</li>
<li>numero</li>
<li>nunca</li>
<li>nuvem</li>
<li>o</li>
<li>oba</li>
<li>obedecer</li>
<li>obediente</li>
<li>obeso</li>
<li>objetivo</li>
<li>objeto</li>
<li>obra</li>
<li>obrigacao</li>
<li>obrigado</li>
<li>obrigar</li>
<li>obrigatorio</li>
<li>observar</li>
<li>observatorio</li>
<li>obter</li>
<li>obturacao</li>
<li>obturar</li>
<li>oca</li>
<li>oceano</li>
<li>ocioso</li>
<li>oco</li>
<li>oculista</li>
<li>oculto</li>
<li>ocupar</li>
<li>odontologia</li>
<li>oeste</li>
<li>ofegante</li>
<li>ofegar</li>
<li>ofender</li>
<li>ofendido</li>
<li>ofensa</li>
<li>oferecer</li>
<li>oferta</li>
<li>office_boy</li>
<li>oficial</li>
<li>oficializacao</li>
<li>oficializar</li>
<li>oficina</li>
<li>oficio</li>
<li>oftalmologia</li>
<li>ofuscar</li>
<li>oi</li>
<li>oitavo</li>
<li>oitenta</li>
<li>oito</li>
<li>ola</li>
<li>oleoso</li>
<li>olfato</li>
<li>olhar</li>
<li>olheiras</li>
<li>olho</li>
<li>ombreira</li>
<li>ombro</li>
<li>omitir</li>
<li>onca</li>
<li>onda</li>
<li>ondular</li>
<li>ontem</li>
<li>onze</li>
<li>opaco</li>
<li>opcao</li>
<li>operacao</li>
<li>operar</li>
<li>opiniao</li>
<li>opor</li>
<li>oportunidade</li>
<li>oral</li>
<li>oralismo</li>
<li>orar</li>
<li>orcamento</li>
<li>ordem</li>
<li>ordenado_mensal</li>
<li>ordenar</li>
<li>orelha</li>
<li>orelhao</li>
<li>orelhudo</li>
<li>organismo</li>
<li>organizacao</li>
<li>organizar</li>
<li>orgasmo</li>
<li>orgulhar</li>
<li>orgulho</li>
<li>orgulhoso</li>
<li>orientador</li>
<li>orientar</li>
<li>origem</li>
<li>original</li>
<li>orquestra</li>
<li>oscilar</li>
<li>osso</li>
<li>ostra</li>
<li>otimista</li>
<li>ouro</li>
<li>ousada</li>
<li>ousadia</li>
<li>p</li>
<li>pa</li>
<li>paciencia</li>
<li>pacote</li>
<li>padaria</li>
<li>padeiro</li>
<li>padrao</li>
<li>padrasto</li>
<li>padre</li>
<li>padronizar</li>
<li>pagamento</li>
<li>pagar</li>
<li>pagina</li>
<li>pagode</li>
<li>pai</li>
<li>painel</li>
<li>pais</li>
<li>paisagem</li>
<li>paixao</li>
<li>paladar</li>
<li>palavra</li>
<li>palavrao</li>
<li>palco</li>
<li>palestra</li>
<li>palestrar</li>
<li>paleto</li>
<li>palha</li>
<li>palhacada</li>
<li>palhaco</li>
<li>palido</li>
<li>palito</li>
<li>palma</li>
<li>palmito</li>
<li>palpebra</li>
<li>palpitar</li>
<li>palpite</li>
<li>pancada</li>
<li>panda</li>
<li>pane</li>
<li>panela</li>
<li>panqueca</li>
<li>pao-duro</li>
<li>pao</li>
<li>papa</li>
<li>papagaio</li>
<li>papar</li>
<li>papel-higienico</li>
<li>papel</li>
<li>papelada</li>
<li>papelao</li>
<li>papelaria</li>
<li>papo</li>
<li>paquerar</li>
<li>par</li>
<li>para-brisa</li>
<li>parabenizar</li>
<li>parabens</li>
<li>parada_de_onibus</li>
<li>parado</li>
<li>parafuso</li>
<li>paraguai</li>
<li>paraguaio</li>
<li>paraiba</li>
<li>paraiso</li>
<li>paralisia_cerebral</li>
<li>paralitico</li>
<li>paralizacao</li>
<li>parana</li>
<li>parar</li>
<li>parceiro</li>
<li>parcelar</li>
<li>parcelas</li>
<li>parceria</li>
<li>parcial</li>
<li>parecer</li>
<li>parecido</li>
<li>parede</li>
<li>parenteses</li>
<li>parque-de-diversao</li>
<li>parque</li>
<li>parte</li>
<li>participar</li>
<li>particular</li>
<li>partida</li>
<li>partir</li>
<li>pascoa</li>
<li>pasmo</li>
<li>passado</li>
<li>passageiro</li>
<li>passagem</li>
<li>passaporte</li>
<li>passar</li>
<li>passarela</li>
<li>passaro</li>
<li>passear</li>
<li>passeata</li>
<li>passeio</li>
<li>passo</li>
<li>pasta</li>
<li>pastel</li>
<li>pastor</li>
<li>pastoral</li>
<li>pata</li>
<li>patinar</li>
<li>pato</li>
<li>patrimonio</li>
<li>patrulha</li>
<li>pau</li>
<li>paulada</li>
<li>paulista</li>
<li>pausa</li>
<li>pauta</li>
<li>pavao</li>
<li>paz</li>
<li>pebolim</li>
<li>pecado</li>
<li>pecar</li>
<li>pedagio</li>
<li>pedagogico</li>
<li>pedagogo</li>
<li>pedicure</li>
<li>pedido</li>
<li>pedir</li>
<li>pedra</li>
<li>pedreiro</li>
<li>pegar</li>
<li>peido</li>
<li>peito</li>
<li>peixe</li>
<li>pelado</li>
<li>pele</li>
<li>pelicano</li>
<li>pelo</li>
<li>pelucia</li>
<li>peludo</li>
<li>pena</li>
<li>pendurar</li>
<li>peneira</li>
<li>peneirar</li>
<li>penetra</li>
<li>penetrar</li>
<li>penico</li>
<li>penitenciaria</li>
<li>pensamento</li>
<li>pensao</li>
<li>pensar</li>
<li>pente</li>
<li>penteado</li>
<li>pentear</li>
<li>pentelho</li>
<li>pepino</li>
<li>pequenino</li>
<li>pera</li>
<li>perambular</li>
<li>perceber</li>
<li>percentagem</li>
<li>percepcao</li>
<li>percurso</li>
<li>perdao</li>
<li>perder</li>
<li>perdido</li>
<li>perdoar</li>
<li>perfeito</li>
<li>perfume</li>
<li>perfurar</li>
<li>perfuratriz</li>
<li>perguntar</li>
<li>perigo</li>
<li>perigoso</li>
<li>periquito</li>
<li>permanecer</li>
<li>permanente</li>
<li>perna</li>
<li>pernambuco</li>
<li>pernilongo</li>
<li>perola</li>
<li>perpetuo</li>
<li>perseguicao</li>
<li>perseguir</li>
<li>persiana</li>
<li>persistente</li>
<li>personagem</li>
<li>personalidade</li>
<li>perspectiva</li>
<li>pertencer</li>
<li>perto</li>
<li>peruano</li>
<li>peruca</li>
<li>perverso</li>
<li>pesado</li>
<li>pescador</li>
<li>pesquisa</li>
<li>pessoa</li>
<li>pestanejar</li>
<li>peteca</li>
<li>petiscar</li>
<li>pia</li>
<li>piada</li>
<li>piano</li>
<li>piao</li>
<li>piaui</li>
<li>pica-pau</li>
<li>picada</li>
<li>picar</li>
<li>pichar</li>
<li>picole</li>
<li>piedade</li>
<li>pijama</li>
<li>pilar</li>
<li>pilha</li>
<li>pilotar</li>
<li>piloto</li>
<li>pilula</li>
<li>pimenta</li>
<li>pimentao</li>
<li>pinca</li>
<li>pincel</li>
<li>pinga</li>
<li>pingar</li>
<li>pingue-pongue</li>
<li>pinguim</li>
<li>pinta</li>
<li>pintar</li>
<li>pinto</li>
<li>piolho</li>
<li>pioneiro</li>
<li>pior</li>
<li>pipa</li>
<li>pipoca</li>
<li>piranha</li>
<li>pirata</li>
<li>pires</li>
<li>pirulito</li>
<li>pisar</li>
<li>piscina</li>
<li>piso</li>
<li>pistola</li>
<li>pitada</li>
<li>pizza</li>
<li>placa</li>
<li>placar</li>
<li>planejamento</li>
<li>planejar</li>
<li>planeta</li>
<li>planilha</li>
<li>plano</li>
<li>planta</li>
<li>plantacao</li>
<li>plantar</li>
<li>plastico</li>
<li>plastificar</li>
<li>plateia</li>
<li>po</li>
<li>pobre</li>
<li>pobreza</li>
<li>poca</li>
<li>poco</li>
<li>podar</li>
<li>poder</li>
<li>poderoso</li>
<li>podre</li>
<li>poeira</li>
<li>poesia</li>
<li>polegar</li>
<li>polemica</li>
<li>policia_civil</li>
<li>policia_militar</li>
<li>policial</li>
<li>polido</li>
<li>poligamia</li>
<li>poliglota</li>
<li>politica</li>
<li>politico</li>
<li>polo</li>
<li>polones</li>
<li>polonia</li>
<li>poltrona</li>
<li>poluicao</li>
<li>polvo</li>
<li>pombo</li>
<li>ponei</li>
<li>pontuacao</li>
<li>pontual</li>
<li>por</li>
<li>por_causa</li>
<li>por_favor</li>
<li>por_isso</li>
<li>porcaria</li>
<li>pornografia</li>
<li>porque</li>
<li>porrada</li>
<li>portugal</li>
<li>portugues</li>
<li>posicao</li>
<li>potencial</li>
<li>potente</li>
<li>povo</li>
<li>praia</li>
<li>prata</li>
<li>prato</li>
<li>prazer</li>
<li>prece</li>
<li>precoce</li>
<li>preencher</li>
<li>prego</li>
<li>prejudicar</li>
<li>prejuizo</li>
<li>preocupar</li>
<li>presente</li>
<li>presidente</li>
<li>presidiario</li>
<li>preso</li>
<li>pressa</li>
<li>pressao</li>
<li>pressentimento</li>
<li>prestacao</li>
<li>prestar</li>
<li>presunto</li>
<li>pretender</li>
<li>preto</li>
<li>prevencao</li>
<li>primeira_vez</li>
<li>princesa</li>
<li>principal</li>
<li>principe</li>
<li>principio</li>
<li>prioridade</li>
<li>privada</li>
<li>privado</li>
<li>problema</li>
<li>problematico</li>
<li>processar</li>
<li>procurar</li>
<li>producao</li>
<li>produzir</li>
<li>professor</li>
<li>profundo</li>
<li>programa</li>
<li>proibir</li>
<li>projetor_de_slides</li>
<li>pular</li>
<li>pulmao</li>
<li>pulseira</li>
<li>pus</li>
<li>puxar</li>
<li>q</li>
<li>quadra</li>
<li>quadrado</li>
<li>quadril</li>
<li>quadrilha</li>
<li>quadro-negro</li>
<li>quadro</li>
<li>qual</li>
<li>qualidade</li>
<li>qualquer</li>
<li>quando</li>
<li>quantidade</li>
<li>quanto</li>
<li>quantos</li>
<li>quarenta</li>
<li>quarta-de-final</li>
<li>quarta-feira</li>
<li>quarta-serie</li>
<li>quarto</li>
<li>quase</li>
<li>quatorze</li>
<li>quatro</li>
<li>quatrocentos</li>
<li>que</li>
<li>que_isso</li>
<li>quebra-cabeca</li>
<li>quebrado</li>
<li>queda</li>
<li>queijo</li>
<li>queimado</li>
<li>queimadura</li>
<li>queimar</li>
<li>queixo</li>
<li>quem</li>
<li>querer</li>
<li>questao</li>
<li>questionario</li>
<li>quiabo</li>
<li>quibe</li>
<li>quieto</li>
<li>quilometro</li>
<li>quimica</li>
<li>quinta-feira</li>
<li>quinta-serie</li>
<li>quintal</li>
<li>quinto</li>
<li>quinze</li>
<li>quinzena</li>
<li>quiosque</li>
<li>quitado</li>
<li>quite</li>
<li>quiui</li>
<li>r</li>
<li>ra</li>
<li>rabo</li>
<li>raca</li>
<li>raciocinar</li>
<li>radar</li>
<li>radio</li>
<li>rainha</li>
<li>raio_x</li>
<li>raiva</li>
<li>raiz</li>
<li>ralador</li>
<li>ralar</li>
<li>rampa</li>
<li>rancor</li>
<li>rapaz</li>
<li>rapido</li>
<li>raposa</li>
<li>raptar</li>
<li>raquete</li>
<li>raro</li>
<li>rascunho</li>
<li>rasgar</li>
<li>raso</li>
<li>raspar</li>
<li>rastejar</li>
<li>rasura</li>
<li>ratazana</li>
<li>rato</li>
<li>ratoeira</li>
<li>razao</li>
<li>razoavel</li>
<li>re</li>
<li>reagir</li>
<li>real</li>
<li>realidade</li>
<li>realizar</li>
<li>rebaixado</li>
<li>rebelde</li>
<li>rebeliao</li>
<li>rebocar_</li>
<li>rebolar</li>
<li>reboque</li>
<li>recado_</li>
<li>receber</li>
<li>receio</li>
<li>recem</li>
<li>recente</li>
<li>recheio</li>
<li>rechonchudo</li>
<li>recife</li>
<li>reclamar</li>
<li>reconciliacao</li>
<li>reconciliar</li>
<li>reconhecer</li>
<li>recuar</li>
<li>recuperacao</li>
<li>recusar</li>
<li>redacao</li>
<li>rede</li>
<li>redea</li>
<li>refeicao</li>
<li>reflexo</li>
<li>reforma</li>
<li>reger</li>
<li>regiao</li>
<li>regime</li>
<li>regimento</li>
<li>regional</li>
<li>regua</li>
<li>rei</li>
<li>reino</li>
<li>reitor</li>
<li>relacao</li>
<li>relacionamento</li>
<li>religiao</li>
<li>representante</li>
<li>representar</li>
<li>reprovar</li>
<li>reserva</li>
<li>reservar</li>
<li>resistir</li>
<li>respirar</li>
<li>responsabilidade</li>
<li>ressentimento</li>
<li>resultado</li>
<li>reto</li>
<li>retorno</li>
<li>retratar</li>
<li>retroprojetor</li>
<li>revanche</li>
<li>revestir</li>
<li>revisao</li>
<li>revolucao</li>
<li>rifle</li>
<li>rim</li>
<li>rinoceronte</li>
<li>rio-grande-do-norte</li>
<li>rival</li>
<li>rodo</li>
<li>rodoviaria</li>
<li>roer</li>
<li>rol</li>
<li>rolo</li>
<li>rompimento</li>
<li>rondonia</li>
<li>rosa</li>
<li>rosca</li>
<li>roxo</li>
<li>ruim</li>
<li>ruivo</li>
<li>rumo</li>
<li>rural</li>
<li>russo</li>
<li>s</li>
<li>sabado</li>
<li>sabao</li>
<li>sabedoria</li>
<li>saber</li>
<li>sabio</li>
<li>sabonete</li>
<li>saboneteira</li>
<li>sabor</li>
<li>saborear</li>
<li>sacanagem</li>
<li>sacanear</li>
<li>saci</li>
<li>saciar</li>
<li>saco</li>
<li>sacole</li>
<li>sacrificar</li>
<li>sacrificio</li>
<li>sacudir</li>
<li>sadio</li>
<li>safado</li>
<li>sagitario</li>
<li>saia</li>
<li>saida</li>
<li>sair</li>
<li>sal</li>
<li>sala</li>
<li>salada-de-frutas</li>
<li>salada</li>
<li>salame</li>
<li>salario</li>
<li>saldo</li>
<li>salgado</li>
<li>salmos</li>
<li>salpicar</li>
<li>salsicha</li>
<li>saltar</li>
<li>salto</li>
<li>salva-vida</li>
<li>salvador</li>
<li>salvar</li>
<li>sanduiche</li>
<li>sanfona</li>
<li>sangramento</li>
<li>sangue</li>
<li>santidade</li>
<li>santo</li>
<li>sao-paulo</li>
<li>sapateiro</li>
<li>sapato</li>
<li>saque</li>
<li>sarar</li>
<li>sardas</li>
<li>sardenta</li>
<li>satisfeito</li>
<li>saudade</li>
<li>saudavel</li>
<li>secador-de-cabelo</li>
<li>seco</li>
<li>secretaria-eletronica</li>
<li>secreto</li>
<li>sede</li>
<li>seguinte</li>
<li>segunda-feira</li>
<li>segundo</li>
<li>seguranca</li>
<li>segurar</li>
<li>seguro</li>
<li>selecao</li>
<li>selva</li>
<li>sem</li>
<li>semaforo</li>
<li>semana</li>
<li>semblante</li>
<li>semelhanca</li>
<li>semelhante</li>
<li>sempre</li>
<li>senador</li>
<li>senhor</li>
<li>sentir</li>
<li>sepultura</li>
<li>sergipe</li>
<li>serio</li>
<li>servir</li>
<li>setenta</li>
<li>sexo</li>
<li>sexta-feira</li>
<li>sexto</li>
<li>shampoo</li>
<li>significar</li>
<li>silaba</li>
<li>silencioso</li>
<li>simples</li>
<li>sinal</li>
<li>sindicato</li>
<li>sinuca</li>
<li>sitio</li>
<li>skate</li>
<li>soberano</li>
<li>sobrado</li>
<li>sobre</li>
<li>sobremesa</li>
<li>social</li>
<li>socorrer</li>
<li>sofa_de_madeira</li>
<li>sofrer</li>
<li>sogro</li>
<li>sol</li>
<li>soldado</li>
<li>soletrar</li>
<li>solidao</li>
<li>solido</li>
<li>solitario</li>
<li>solteiro</li>
<li>soluco</li>
<li>somente</li>
<li>sonho</li>
<li>sopa</li>
<li>sorrir</li>
<li>sorte</li>
<li>sortudo</li>
<li>sozinho</li>
<li>suar</li>
<li>subir</li>
<li>submergir</li>
<li>suborno</li>
<li>substituir</li>
<li>subtracao</li>
<li>suecia</li>
<li>sufocar</li>
<li>suica</li>
<li>suicidar</li>
<li>sujar</li>
<li>sujo</li>
<li>sul</li>
<li>sunga</li>
<li>superior</li>
<li>supervisor</li>
<li>surdez</li>
<li>surdo</li>
<li>surrar</li>
<li>suspender</li>
<li>sussurrar</li>
<li>sutia</li>
<li>t</li>
<li>tabela</li>
<li>tabeliao</li>
<li>tabua</li>
<li>taca</li>
<li>talco</li>
<li>talento</li>
<li>talvez</li>
<li>tamandua</li>
<li>tambem</li>
<li>tambor</li>
<li>tampa</li>
<li>tampao</li>
<li>tampar</li>
<li>tanga</li>
<li>tangerina</li>
<li>tanto</li>
<li>tapa</li>
<li>tapar</li>
<li>tapete</li>
<li>taquicardia</li>
<li>tarado</li>
<li>tarde</li>
<li>tartaruga</li>
<li>tatu</li>
<li>tatuagem</li>
<li>taxi</li>
<li>taxista</li>
<li>tdd</li>
<li>teatro</li>
<li>tecnico</li>
<li>tecnologia</li>
<li>tedio</li>
<li>teimoso</li>
<li>tema</li>
<li>tempero</li>
<li>tempestade</li>
<li>tempo</li>
<li>tenda</li>
<li>tenis</li>
<li>tentacao</li>
<li>tentar</li>
<li>ter</li>
<li>terceiro</li>
<li>terminar</li>
<li>termometro</li>
<li>terno</li>
<li>terra</li>
<li>terremoto</li>
<li>terreno</li>
<li>territorio</li>
<li>terror</li>
<li>tesao</li>
<li>tesoura</li>
<li>testa</li>
<li>teste_audiometrico</li>
<li>testemunha_de_jeova</li>
<li>testemunhar</li>
<li>teto</li>
<li>tetracampeao</li>
<li>tiara</li>
<li>tigre</li>
<li>tipo</li>
<li>tira_gosto</li>
<li>titular</li>
<li>titulo</li>
<li>toalha</li>
<li>todo_dia</li>
<li>tomara_que_caia</li>
<li>tonelada</li>
<li>topar</li>
<li>torcicolo</li>
<li>torrada</li>
<li>torre</li>
<li>total</li>
<li>traficante</li>
<li>trafico</li>
<li>trampolim</li>
<li>transa</li>
<li>transar</li>
<li>traumatizar</li>
<li>trazer</li>
<li>treinador</li>
<li>treinamento</li>
<li>tres</li>
<li>trevas</li>
<li>tribunal</li>
<li>triciclo</li>
<li>tricotar</li>
<li>trimensal</li>
<li>trimestre</li>
<li>trinta_e_tres</li>
<li>trocador</li>
<li>trofeu</li>
<li>trombeta</li>
<li>trotar</li>
<li>trovao</li>
<li>tubarao</li>
<li>tuberculose</li>
<li>tubo</li>
<li>tucano</li>
<li>tudo</li>
<li>tudo_bem</li>
<li>tufao</li>
<li>tumulto</li>
<li>turma</li>
<li>turquia</li>
<li>turvo</li>
<li>u</li>
<li>uau</li>
<li>ufa</li>
<li>uisque</li>
<li>ultrajar</li>
<li>ultrapassado</li>
<li>ultrapassar</li>
<li>ultrasonografia</li>
<li>um</li>
<li>umbanda</li>
<li>umbigo</li>
<li>umedecer</li>
<li>umidade</li>
<li>uncao</li>
<li>unha</li>
<li>uniao</li>
<li>unicornio</li>
<li>unidade</li>
<li>unificar</li>
<li>uniforme</li>
<li>unigenito</li>
<li>unir</li>
<li>universidade</li>
<li>universo</li>
<li>untar</li>
<li>urbano</li>
<li>urgente</li>
<li>urina</li>
<li>urso</li>
<li>urubu</li>
<li>uruguai</li>
<li>usado</li>
<li>uva</li>
<li>v</li>
<li>vaca</li>
<li>vacilar</li>
<li>vacina</li>
<li>vacinar</li>
<li>vadia</li>
<li>vadiar</li>
<li>vaga-lume</li>
<li>vaga</li>
<li>vagabundo</li>
<li>vagao</li>
<li>vagem</li>
<li>vagina</li>
<li>vaiar</li>
<li>vaidoso</li>
<li>vaivem</li>
<li>vala</li>
<li>vale</li>
<li>valente</li>
<li>valer</li>
<li>validade</li>
<li>valioso</li>
<li>valise</li>
<li>valorizar</li>
<li>vampiro</li>
<li>van</li>
<li>vandalismo</li>
<li>vapor</li>
<li>vaquinha</li>
<li>vara</li>
<li>varal</li>
<li>varanda</li>
<li>varejar</li>
<li>vareta</li>
<li>varicela</li>
<li>variedade</li>
<li>varios</li>
<li>varrer</li>
<li>vascolejar</li>
<li>vasculhar</li>
<li>vasilha</li>
<li>vaso-sanitario</li>
<li>vassourada</li>
<li>vazamento</li>
<li>vazar</li>
<li>vedar</li>
<li>vegetariano</li>
<li>veia</li>
<li>veiculo</li>
<li>velejar</li>
<li>velho</li>
<li>velocidade</li>
<li>velocimetro</li>
<li>veludo</li>
<li>vencedor</li>
<li>vencimento</li>
<li>vendaval</li>
<li>vendedor</li>
<li>venenoso</li>
<li>venerar</li>
<li>veneziana</li>
<li>venezuela</li>
<li>ventar</li>
<li>ventarola</li>
<li>ventilador</li>
<li>vento</li>
<li>ver</li>
<li>ver_nao</li>
<li>verao</li>
<li>verbete</li>
<li>verbo</li>
<li>verdade</li>
<li>verdadeiro</li>
<li>verde</li>
<li>vergamota</li>
<li>vergonha</li>
<li>veridico</li>
<li>verificar</li>
<li>vernissage</li>
<li>verruga</li>
<li>verter</li>
<li>vertical</li>
<li>vertigem</li>
<li>vesgo</li>
<li>vespera</li>
<li>vestido</li>
<li>vestir</li>
<li>veterinaria</li>
<li>veu</li>
<li>vez</li>
<li>via</li>
<li>viajar</li>
<li>vibora</li>
<li>vice</li>
<li>viciado</li>
<li>vida</li>
<li>videogame</li>
<li>vigiar</li>
<li>vinho</li>
<li>violao</li>
<li>violencia</li>
<li>violentado</li>
<li>violento</li>
<li>vir</li>
<li>vira-lata</li>
<li>virgula</li>
<li>visita</li>
<li>visitar</li>
<li>vista</li>
<li>vistoria</li>
<li>vitalicio</li>
<li>viuvo</li>
<li>viva</li>
<li>vocabulario</li>
<li>voce</li>
<li>volante</li>
<li>voleibol</li>
<li>voltar</li>
<li>vomitar</li>
<li>votar</li>
<li>voto</li>
<li>vulcao</li>
<li>vulgar</li>
<li>w</li>
<li>x</li>
<li>xadrez</li>
<li>xale</li>
<li>xampu</li>
<li>xarope</li>
<li>xeretar</li>
<li>xerife</li>
<li>xerocar</li>
<li>xerox</li>
<li>xicara</li>
<li>xingar</li>
<li>xixi</li>
<li>z</li>
<li>zaga</li>
<li>zagueiro</li>
<li>zangado</li>
<li>zangar</li>
<li>zarabatana</li>
<li>zarpar</li>
<li>zebra</li>
<li>zelador</li>
<li>zepelim</li>
<li>zerar</li>
<li>zero-quilometro</li>
<li>ziguezague</li>
<li>ziguezaguear</li>
<li>ziper</li>
<li>zombar</li>
<li>zoologico</li>
<li>zum</li>
<li>Aborto</li>
<li>Abrir a janela</li>
<li>Abrir a porta</li>
<li>Academia</li>
<li>Acordar Alarme</li>
<li>Adaptar</li>
<li>Adiante</li>
<li>Admitir</li>
<li>Adquirir</li>
<li>Adulto</li>
<li>Advertit</li>
<li>Agasalho</li>
<li>Agir Fazer</li>
<li>Agitar</li>
<li>Agradavel Limpo</li>
<li>Agua congelada</li>
<li>Ambiente</li>
<li>Andorinha</li>
<li>Animado</li>
<li>Animal mimado</li>
<li>Animal</li>
<li>Anteriormente</li>
<li>Anunciar</li>
<li>Ao redor</li>
<li>Apagar o quadro</li>
<li>Apaixonar-se</li>
<li>Aparelho auditivo</li>
<li>Aplauso</li>
<li>Apoio</li>
<li>Apontar para</li>
<li>Aposto</li>
<li>Aprovar</li>
<li>Argumentar</li>
<li>Arma de fogo</li>
<li>Armazenado</li>
<li>Arrepios</li>
<li>Arte</li>
<li>Artigo</li>
<li>Arvore</li>
<li>As vezes</li>
<li>Asno</li>
<li>Assalto</li>
<li>Assosiação</li>
<li>Atitude</li>
<li>Atividade</li>
<li>Ato de remar</li>
<li>Atraves</li>
<li>Até agora</li>
<li>Audiencia</li>
<li>Ausente</li>
<li>Aviso</li>
<li>Avó</li>
<li>Ação</li>
<li>Açúcar</li>
<li>Bagunçado</li>
<li>Balanço</li>
<li>Barato</li>
<li>Barbear</li>
<li>Barco a vela</li>
<li>Cabeca </li>
<li>Cabeca fria </li>
<li>Cabecudo </li>
<li>Cabelo </li>
<li>Cacando </li>
<li>Cada </li>
<li>Cadeira de Balanco </li>
<li>Cadeira de rodas </li>
<li>Cafe </li>
<li>Cafeteria </li>
<li>Cair </li>
<li>Caixa </li>
<li>Caixa de som </li>
<li>Calca </li>
<li>Calculadora </li>
<li>Calculo </li>
<li>Cale-se </li>
<li>Calice </li>
<li>Calmo </li>
<li>Caloroso </li>
<li>Calouro </li>
<li>Cama </li>
<li>Camera </li>
<li>Caminhada </li>
<li>Campainha </li>
<li>Campeao </li>
<li>Cancelar </li>
<li>Canguru </li>
<li>Cansado </li>
<li>Capacete </li>
<li>Capital </li>
<li>Capitulo </li>
<li>Careca </li>
<li>Carne </li>
<li>Caro </li>
<li>Carpinteiro </li>
<li>Carrinho de mao </li>
<li>Carro </li>
<li>Cartao de Credito </li>
<li>Carteira de bolso </li>
<li>Casa </li>
<li>Casaco </li>
<li>Casamento </li>
<li>Catolico </li>
<li>Causa </li>
<li>Cavalo </li>
<li>Caxumba </li>
<li>Cebola </li>
<li>Cego </li>
<li>Centro </li>
<li>Cerca barreira </li>
<li>Cereal </li>
<li>Cerebro de ervilha </li>
<li>Certificar atestar </li>
<li>Cerveja </li>
<li>Cesta de feira </li>
<li>Ceu </li>
<li>Cha </li>
<li>Chamada por telefone </li>
<li>Chance </li>
<li>Chao </li>
<li>Chapeu </li>
<li>Chave </li>
<li>Chave de fenda </li>
<li>Chefe </li>
<li>Chegar </li>
<li>Chegar a algum lugar </li>
<li>Cheio </li>
<li>Cheiro </li>
<li>Chicote </li>
<li>Chinelo de dedo </li>
<li>Chique </li>
<li>Chocolate </li>
<li>Choro </li>
<li>Chute </li>
<li>Chuva </li>
<li>Chuveiro </li>
<li>Ciclo </li>
<li>Cidade </li>
<li>Ciencia </li>
<li>Cigarro </li>
<li>Cilios </li>
<li>Cintura </li>
<li>Cinza cor </li>
<li>Circulo </li>
<li>Cirurgia </li>
<li>Citacao </li>
<li>Ciumento </li>
<li>Claro </li>
<li>Classe </li>
<li>Clima </li>
<li>Cobertor </li>
<li>Cocegas </li>
<li>Coco </li>
<li>Coelho </li>
<li>Cola </li>
<li>Colaborar </li>
<li>Colapso </li>
<li>Colar grau </li>
<li>Colegio </li>
<li>Coletar </li>
<li>Colocar </li>
<li>Com frequencia </li>
<li>Com licenca </li>
<li>Com medo </li>
<li>Com sede </li>
<li>Comecar </li>
<li>Comemorar celebrar </li>
<li>Comer </li>
<li>Comer a noite </li>
<li>Comer com faca </li>
<li>Comissao </li>
<li>Como </li>
<li>Compaixao </li>
<li>Comparar </li>
<li>Compreender </li>
<li>Compromisso marcado </li>
<li>Computador </li>
<li>Computador portatil </li>
<li>Comunicar </li>
<li>Conceito </li>
<li>Conclusao </li>
<li>Concordar </li>
<li>Condutor </li>
<li>Conduzir </li>
<li>Confortavel </li>
<li>Confrontar enfrentar </li>
<li>Confuso </li>
<li>Congelar </li>
<li>Conseguindo </li>
<li>Consertar </li>
<li>Constituicao </li>
<li>Construir </li>
<li>Contagem </li>
<li>Contato </li>
<li>Continuar </li>
<li>Contra </li>
<li>Controle </li>
<li>Conversar consigo mesmo </li>
<li>Convocar </li>
<li>Copia </li>
<li>Cor </li>
<li>Coracao </li>
<li>Corda </li>
<li>Corda usada pra pular </li>
<li>Cordao colar </li>
<li>Coroa </li>
<li>Corpo </li>
<li>Correr atras </li>
<li>Correspondente </li>
<li>Correto </li>
<li>Cortar </li>
<li>Corte com tesoura </li>
<li>Corte de Cabelo </li>
<li>Costurar </li>
<li>Cotovelo </li>
<li>Creme dental </li>
<li>Crescer </li>
<li>Crianca </li>
<li>Criar </li>
<li>Cristo </li>
<li>Cronograma </li>
<li>Cruel </li>
<li>Cruz </li>
<li>Cueca </li>
<li>Cuidado </li>
<li>Culpar </li>
<li>Cultura </li>
<li>Cumprimento </li>
<li>Curioso </li>
<li>Curriculo </li>
<li>Curva </li>
<li>Cuspir </li>
<li>Danca </li>
<li>Dar </li>
<li>De cabeca baixa </li>
<li>De novo </li>
<li>De vez em quando </li>
<li>Decidir </li>
<li>Decolar </li>
<li>Decorar ornamentar </li>
<li>Dedo </li>
<li>Defender proteger </li>
<li>Deitar-se </li>
<li>Deixar </li>
<li>Delicioso </li>
<li>Demitido </li>
<li>Demitir </li>
<li>Democracia </li>
<li>Departamento </li>
<li>Depender </li>
<li>Depois mais tarde </li>
<li>Deposito </li>
<li>Deprimir </li>
<li>Derramar </li>
<li>Desafio </li>
<li>Desaparecido </li>
<li>Desapontamento </li>
<li>Desassistido </li>
<li>Desatento </li>
<li>Descobrir </li>
<li>Desconectar </li>
<li>Descuidado irresponsavel </li>
<li>Desculpa </li>
<li>Desejo </li>
<li>Desenvolver </li>
<li>Desgosto </li>
<li>Desistir </li>
<li>Desperdicio </li>
<li>Destruir </li>
<li>Deteriorar </li>
<li>Deus </li>
<li>Devemos </li>
<li>Dever de casa </li>
<li>Devolver </li>
<li>Dia </li>
<li>Dialogo </li>
<li>Dicionario </li>
<li>Dificil </li>
<li>Diminuir </li>
<li>Dinheiro </li>
<li>Dinossauro </li>
<li>Diploma </li>
<li>Direcionar </li>
<li>Direito </li>
<li>Direto </li>
<li>Dirigir </li>
<li>Disciplina </li>
<li>Discordar </li>
<li>Discriminar </li>
<li>Discutir debater </li>
<li>Disparar flecha </li>
<li>Disponivel </li>
<li>Disputar </li>
<li>Distribuir </li>
<li>Diversao </li>
<li>Dividir </li>
<li>Divorcio </li>
<li>Dizer </li>
<li>Doce </li>
<li>Documento </li>
<li>Doente </li>
<li>Dolar </li>
<li>Doloroso </li>
<li>Dor de cabeca </li>
<li>Dor de garganta </li>
<li>Dor de ouvido </li>
<li>Dormir </li>
<li>Dormitorio </li>
<li>Drogado </li>
<li>Duas semanas </li>
<li>Duplicar </li>
<li>Duvida incerteza </li>
<li>Economico </li>
<li>Economizar dinheiro </li>
<li>Educado </li>
<li>Ego </li>
<li>Elastico </li>
<li>Elefante </li>
<li>Elementar </li>
<li>Eletrico </li>
<li>Elevador </li>
<li>Em branco </li>
<li>Em cima </li>
<li>Em dobro </li>
<li>Em marcha andar </li>
<li>Em vez de </li>
<li>Embaixo </li>
<li>Embaracar </li>
<li>Emergencia </li>
<li>Emocao </li>
<li>Empenho </li>
<li>Emprego trabalho </li>
<li>Empresa </li>
<li>Emprestar algo </li>
<li>Encaracolado </li>
<li>Encerrar </li>
<li>Encontrar </li>
<li>Encorajar </li>
<li>Endereco </li>
<li>Energia </li>
<li>Enfatizar </li>
<li>Enfermeira </li>
<li>Enganar </li>
<li>Engracado </li>
<li>Enquanto isso </li>
<li>Ensaiar </li>
<li>Ensinar </li>
<li>Enterrar </li>
<li>Entrar </li>
<li>Entrar em algo </li>
<li>Entre </li>
<li>Entrevista </li>
<li>Envergonhado </li>
<li>Enviando mensagem de texto </li>
<li>Enviar </li>
<li>Enviar e-mail </li>
<li>Enviar mensagem de texto </li>
<li>Equipamento </li>
<li>Equipe </li>
<li>Ereto </li>
<li>Erro </li>
<li>Escada </li>
<li>Escapar </li>
<li>Escola </li>
<li>Escolher </li>
<li>Escorregadio </li>
<li>Escova de cabelo </li>
<li>Escova de dente </li>
<li>Escovar os dentes </li>
<li>Escravo </li>
<li>Escrever </li>
<li>Escurecer </li>
<li>Escuro sombrio </li>
<li>Esforco </li>
<li>Esfregar </li>
<li>Espaguete </li>
<li>Espaguete .mp</li>
<li>Especialista </li>
<li>Espelho </li>
<li>Espera </li>
<li>Esperanca torcer pra dar certo </li>
<li>Esperar </li>
<li>Espere </li>
<li>Esperto inteligente </li>
<li>Espinha </li>
<li>Espirrar </li>
<li>Esquecer </li>
<li>Esquerda </li>
<li>Estado </li>
<li>Estatistica </li>
<li>Estimular </li>
<li>Estrangeiro </li>
<li>Estranho </li>
<li>Estrela </li>
<li>Estrutura </li>
<li>Estudo </li>
<li>Estupido </li>
<li>Etc </li>
<li>Eu amo voce </li>
<li>Eu vejo </li>
<li>Evitar </li>
<li>Exato </li>
<li>Exceder passar ir alem </li>
<li>Excluir </li>
<li>Executar </li>
<li>Exercite-se </li>
<li>Expandir </li>
<li>Experiencia </li>
<li>Experimentar </li>
<li>Explicar </li>
<li>Explodir </li>
<li>Expor </li>
<li>Expressao facial </li>
<li>Expressar </li>
<li>Faca </li>
<li>Facada </li>
<li>Face rosto </li>
<li>Faculdade </li>
<li>Falhar </li>
<li>Falsidade </li>
<li>Falso </li>
<li>Familia </li>
<li>Faminto </li>
<li>Fantasma </li>
<li>Farol </li>
<li>Fascinar </li>
<li>Favorito </li>
<li>Faz </li>
<li>Fazenda </li>
<li>Fechado </li>
<li>Fechar </li>
<li>Fechar a porta </li>
<li>Federal </li>
<li>Feijoes </li>
<li>Feio </li>
<li>Feliz </li>
<li>Ferver </li>
<li>Festa </li>
<li>Ficar com vergonha </li>
<li>Ficha de registro </li>
<li>Filha </li>
<li>Filho </li>
<li>Filmadora </li>
<li>Filme </li>
<li>Fim </li>
<li>Fim de semana </li>
<li>Financeiro </li>
<li>Fino </li>
<li>Firmeza </li>
<li>Fisica </li>
<li>Fita Cassete </li>
<li>Flash da camera </li>
<li>Flauta </li>
<li>Flexivel </li>
<li>Flor </li>
<li>Fofinho </li>
<li>Fofoca </li>
<li>Fogo </li>
<li>Foguete </li>
<li>Fome </li>
<li>Fonte de agua </li>
<li>Fora </li>
<li>Forca </li>
<li>Formulario </li>
<li>Forte </li>
<li>Fortemente picante </li>
<li>Fraco </li>
<li>Freio </li>
<li>FrenteA Frente </li>
<li>Frio </li>
<li>Fruta </li>
<li>Funcao </li>
<li>Funeral </li>
<li>Futebol </li>
<li>Futuro </li>
<li>Galo </li>
<li>Gangorra </li>
<li>Garagem </li>
<li>Garfo </li>
<li>Garganta </li>
<li>Garoto menino </li>
<li>Garrafa </li>
<li>Garrafa de vinho </li>
<li>Gastar </li>
<li>Gato </li>
<li>Gay </li>
<li>Geracao </li>
<li>Geracao atras </li>
<li>Giz </li>
<li>Gloria </li>
<li>Golfe </li>
<li>Gorila </li>
<li>Gostar </li>
<li>Gosto sabor </li>
<li>Gotejamento </li>
<li>Governo </li>
<li>Graduado </li>
<li>Gramatica </li>
<li>Grande enorme </li>
<li>Grande sucesso </li>
<li>Gravacao de Fita Casssete </li>
<li>Gravata </li>
<li>Gravata borboleta </li>
<li>Gravida </li>
<li>Gritar </li>
<li>Grosseiro </li>
<li>Grosso </li>
<li>Guarda-chuva </li>
<li>Guerra </li>
<li>Guitarra </li>
<li>Habilidade </li>
<li>Helicoptero </li>
<li>Historia </li>
<li>Homem </li>
<li>Honesto </li>
<li>Honra </li>
<li>Hora </li>
<li>Hospital </li>
<li>Humilde </li>
<li>Ideia </li>
<li>Ideia igual </li>
<li>Identificar </li>
<li>Identificar documento </li>
<li>Idoso </li>
<li>Ignorar </li>
<li>Igreja </li>
<li>Igual similar </li>
<li>Imagem </li>
<li>Imaginar </li>
<li>Imaturo </li>
<li>Imoral </li>
<li>Imparcial neutro </li>
<li>Implorar pedir </li>
<li>Importante </li>
<li>Impossivel </li>
<li>Impressionar </li>
<li>Impressoes digitais </li>
<li>Imprimir </li>
<li>Impulso Desejo </li>
<li>Independente </li>
<li>Individual </li>
<li>Industria </li>
<li>Inferno </li>
<li>Inocente </li>
<li>Inquieto agitado </li>
<li>Inseto </li>
<li>Instituto </li>
<li>Insulto </li>
<li>Interacao social </li>
<li>Interessante atraente </li>
<li>Interesse </li>
<li>Interpretar </li>
<li>Interruptor </li>
<li>Intervalo pra descanso </li>
<li>Investir </li>
<li>Ir </li>
<li>Ir embora partir </li>
<li>Ir pra casa </li>
<li>Irma </li>
<li>Isolado </li>
<li>Jacare </li>
<li>Janela </li>
<li>Jantar banquete </li>
<li>Jardim de infancia </li>
<li>Jarro </li>
<li>Jejum abstinencia </li>
<li>Joalheria </li>
<li>Jogar </li>
<li>Jogar basquetebol </li>
<li>Jogar futebol </li>
<li>Jogo </li>
<li>Jogo de damas </li>
<li>Jovem </li>
<li>Judeu </li>
<li>Juiz </li>
<li>Juntos </li>
<li>Labia </li>
<li>Lado </li>
<li>Lagarta </li>
<li>Lagarto </li>
<li>Lancar </li>
<li>Ontem </li>
<li>Opcao </li>
<li>Opiniao </li>
<li>Orar </li>
<li>Organizacao </li>
<li>Orgulhoso </li>
<li>Orientar </li>
<li>Osso </li>
<li>Outro </li>
<li>Ouvir </li>
<li>Ovelha </li>
<li>Paciente conformado </li>
<li>Pagamento </li>
<li>Pagar </li>
<li>Pai </li>
<li>Pais </li>
<li>Paixao </li>
<li>Palestra </li>
<li>Palmada  ()</li>
<li>Pao </li>
<li>Papel  ()</li>
<li>Para baixo </li>
<li>Para sempre </li>
<li>Parabens </li>
<li>Paralelo </li>
<li>Paranoia </li>
<li>Parar </li>
<li>Parecer </li>
<li>Parede </li>
<li>Parentesco </li>
<li>Pascoa </li>
<li>Passado </li>
<li>Passar </li>
<li>Passaro </li>
<li>Passeio </li>
<li>Passo </li>
<li>Patins </li>
<li>Pato </li>
<li>Pe </li>
<li>Pedir </li>
<li>Pedir algo emprestado </li>
<li>Pegar </li>
<li>Peixe </li>
<li>Pele </li>
<li>Penis </li>
<li>Pente </li>
<li>Pequeno </li>
<li>Perceber </li>
<li>Percurso </li>
<li>Perder a competicao </li>
<li>Perder peso </li>
<li>Perfeito </li>
<li>Perfume </li>
<li>Perigo </li>
<li>Periodo de tempo </li>
<li>Permitir </li>
<li>Perspectiva </li>
<li>Pertencer </li>
<li>Perto </li>
<li>Pesado </li>
<li>Peso leve </li>
<li>Pesquisar </li>
<li>Pessego </li>
<li>Pessimo </li>
<li>Pessoa </li>
<li>Pessoa doente </li>
<li>Pessoa encantadora </li>
<li>Pessoa famosa </li>
<li>Pessoa malvada </li>
<li>Piano </li>
<li>Picante </li>
<li>Piedade </li>
<li>Piedoso </li>
<li>Pintura </li>
<li>Pior </li>
<li>Pipoca </li>
<li>Pirata </li>
<li>Piscar os olhos </li>
<li>Pizza </li>
<li>Plastico </li>
<li>Pobre  ()</li>
<li>Podar arvore </li>
<li>Poder </li>
<li>Poderoso </li>
<li>Poema </li>
<li>Poesia </li>
<li>Polegar </li>
<li>Policial </li>
<li>Politica </li>
<li>Ponta pe </li>
<li>Ponte </li>
<li>Por do sol </li>
<li>Por favor </li>
<li>Por o anel </li>
<li>Por que </li>
<li>Porcentagem </li>
<li>Porco </li>
<li>Porta Corredica </li>
<li>Portanto </li>
<li>Portao </li>
<li>Pouco </li>
<li>Praia </li>
<li>Prata </li>
<li>Pratica </li>
<li>Preco </li>
<li>Predio </li>
<li>Predizer </li>
<li>Preencher </li>
<li>Pregar a palavra </li>
<li>Preguicoso </li>
<li>Preocupacao </li>
<li>Presente </li>
<li>Presidente </li>
<li>Preso </li>
<li>Pressa </li>
<li>Pressao </li>
<li>Prestar atencao </li>
<li>Preto </li>
<li>Prima </li>
<li>Primo </li>
<li>Princesa </li>
<li>Principal </li>
<li>Principe </li>
<li>Prioridade </li>
<li>Problema </li>
<li>Procurar por </li>
<li>Profissao </li>
<li>Profundo </li>
<li>Programa </li>
<li>Progresso </li>
<li>Proibir vetar </li>
<li>Projeto </li>
<li>Promessa </li>
<li>Pronome </li>
<li>Pronto </li>
<li>Proprio lugar </li>
<li>Prosseguir </li>
<li>Protestante </li>
<li>Protesto </li>
<li>Provar </li>
<li>Proximo </li>
<li>Psicologia </li>
<li>Psiquiatra </li>
<li>Pulmoes </li>
<li>Pulo </li>
<li>Pulsar </li>
<li>Pulseira </li>
<li>Quadrado </li>
<li>Qual  ()</li>
<li>Qual </li>
<li>Qualquer </li>
<li>Quando </li>
<li>Quantos </li>
<li>Quarta-feira </li>
<li>Quarto de dormir </li>
<li>Que </li>
<li>Quebrar </li>
<li>Queda de energia </li>
<li>Queixo </li>
<li>Quem </li>
<li>Quente </li>
<li>Quer </li>
<li>Quimica </li>
<li>Quinta-feira </li>
<li>Ra sapo </li>
<li>Rainha </li>
<li>Ranzinza </li>
<li>Rapido </li>
<li>Raposa </li>
<li>Raspar </li>
<li>Rato </li>
<li>Razao </li>
<li>Real </li>
<li>Reciclar </li>
<li>Reclamacao </li>
<li>Recuperar </li>
<li>Recusar </li>
<li>Rede </li>
<li>Regata camisa </li>
<li>Regular </li>
<li>Rei </li>
<li>Rejeitar </li>
<li>Relacao </li>
<li>Relampago </li>
<li>Relativo </li>
<li>Relatorio </li>
<li>Religiao </li>
<li>Remover </li>
<li>Reprovado </li>
<li>Resistente </li>
<li>Respeito </li>
<li>Respirar </li>
<li>Responsabilidade </li>
<li>Resposta </li>
<li>Restaurante </li>
<li>Resultado </li>
<li>Resumir </li>
<li>Retardado Mental </li>
<li>Retorno </li>
<li>Reuniao </li>
<li>Revisao </li>
<li>Revista </li>
<li>Rezar </li>
<li>Rico </li>
<li>Rigoroso </li>
<li>Rir gargalhar </li>
<li>Risadinha </li>
<li>Roda </li>
<li>Rodovia </li>
<li>Rosa </li>
<li>Rosquinha de massa frita </li>
<li>Roubar </li>
<li>Roxo </li>
<li>Ruido </li>
<li>Ruim </li>
<li>Rumo direcao </li>
<li>Sabado </li>
<li>Saber </li>
<li>Saciado </li>
<li>algo</li>
<li>alguns</li>
<li>alimentação</li>
<li>almoço</li>
<li>aluno do segundo ano do ensino médio</li>
<li>amanhã</li>
<li>barra haste</li>
<li>basico</li>
<li>basqueteball</li>
<li>batata</li>
<li>bater papo</li>
<li>bateria</li>
<li>batida pancada</li>
<li>batida ritimo</li>
<li>beneficio</li>
<li>bermuda</li>
<li>biblioteca</li>
<li>biquini</li>
<li>bisbilhotar</li>
<li>bobo</li>
<li>bocejar</li>
<li>bode</li>
<li>boi</li>
<li>bolo</li>
<li>bolsa</li>
<li>bomba</li>
<li>bonito</li>
<li>borboleta</li>
<li>borracha</li>
<li>borrifador</li>
<li>bota</li>
<li>botão broche</li>
<li>boxe esporte</li>
<li>branco</li>
<li>breve</li>
<li>brigar dar porrada</li>
<li>brilhar</li>
<li>brilho</li>
<li>brinco</li>
<li>broca</li>
<li>bronzeamento</li>
<li>bufalo</li>
<li>buzina</li>
<li>doutor medico</li>
<li>droga, medicamento</li>
<li>e-mail </li>
<li>imoral</li>
<li>lavar as mãos</li>
<li>lavar o rosto</li>
<li>lavar prato</li>
<li>legislatura</li>
<li>leitura labial</li>
<li>lembre se</li>
<li>lento, varagoso</li>
<li>lestra A</li>
<li>letra B</li>
<li>letra D</li>
<li>letra E</li>
<li>letra F</li>
<li>letra G</li>
<li>letra H</li>
<li>letra I</li>
<li>letra J</li>
<li>letra K</li>
<li>letra L</li>
<li>letra M</li>
<li>letra N</li>
<li>letra P</li>
<li>letra Q</li>
<li>letra R</li>
<li>letra S</li>
<li>letra T</li>
<li>letra U</li>
<li>letra V</li>
<li>letra W</li>
<li>letra X</li>
<li>letra Y</li>
<li>letra Z</li>
<li>licensa, pretexto</li>
<li>ligar algo</li>
<li>lingua, idioma</li>
<li>livre se de</li>
<li>livre-se</li>
<li>livre</li>
<li>loiro</li>
<li>longo</li>
<li>lugar</li>
<li>luta, briga</li>
<li>luvas</li>
<li>luz do sol</li>
<li>macio, suave</li>
<li>magia</li>
<li>mais ainda</li>
<li>mais antigo</li>
<li>mais do que</li>
<li>mais ou menos</li>
<li>mal entendido</li>
<li>mala de viagem</li>
<li>mamilos</li>
<li>mandibula</li>
<li>manga curta de camisa</li>
<li>manhã</li>
<li>maos</li>
<li>maquina de lavar</li>
<li>mar oceano</li>
<li>maravilhado</li>
<li>mau cheiro</li>
<li>maçã</li>
<li>meia noite</li>
<li>meias</li>
<li>melhor</li>
<li>melhorar um pouco mais</li>
<li>mergulho</li>
<li>mesma idade</li>
<li>mesmo tempo</li>
<li>metal</li>
<li>microfone</li>
<li>moedas</li>
<li>morar juntos</li>
<li>mordida</li>
<li>morrer, falecer</li>
<li>motivar</li>
<li>muito rapido</li>
<li>muito tempo atras</li>
<li>museu</li>
<li>mãe</li>
<li>nao poder</li>
<li>nariz escorrendo</li>
<li>nascer do sol</li>
<li>nativo</li>
<li>negligente</li>
<li>nome</li>
<li>norte</li>
<li>nuvem de chuva</li>
<li>não é problema meu</li>
<li>o dia todo</li>
<li>o que</li>
<li>obscuro</li>
<li>oculos</li>
<li>ocupado</li>
<li>oleo</li>
<li>onde</li>
<li>ondulacao</li>
<li>sem dinheiro</li>
<li>À noite toda</li>
<li>Á tarde toda</li>
<li>ódio</li>
    </ol>
  </div>

  <div class="sugestoes-image">
    <img src="https://cdn-icons-png.flaticon.com/512/6614/6614671.png" alt="Sugestões">
  </div>
</div>

<%- include('includes/footer') %>
